<!--
	contatto dal sito
-->
{{>header}}
<tr>
    <td class="column content" width="600" align="left" valign="top" border="0">

    	<h1 class="title">Nuovo contatto dal sito</h1>

    	<table class="nicetable margin-bottom" cellpadding="10" width="100%">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Email</th>
					<th>telefono</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{nome}}</td>
					<td>{{cognome}}</td>
					<td>{{email}}</td>
					<td>{{telefono}}</td>
				</tr>
			</tbody>
		</table>

		<p><strong>RICHIESTA</strong></p>

		<p>{{messaggio}}</p>
    </td>
</tr>
{{>footer}}