<!--
	mail verso il cliente
-->
{{>header}}
<tr>
    <td class="column content" width="600" align="left" valign="top" border="0">

    	<h1 class="title">Grazie per il tuo ordine <strong>#{{numero}}</strong></h1>
		{{>riepilogo-ordine}}

    </td>
</tr>
{{>footer}}