<!-- parziale da riusare -->
<div class="margin-bottom">
	<h2 class="subtitle">Prodotti</h2>

	<table class="nicetable" cellpadding="10" width="100%">
		<tbody>
			{{#carrello.prodotti}}
			<tr>
				<td class="middle" style="width:100px;"><a href="{{fullurl}}"><img src="{{cloudinary immagine 'h_120,w_90,c_fill,f_auto,q_auto,g_auto' }}"></a></td>
				<td class="middle">
					<a href="{{fullurl}}" target="_blank" rel="noopener">art.{{codice}}</a><br />
			
						{{#variante}}variante:<br />{{/variante}} {{variante.nome}}
				</td>
				<td class="middle">{{nome}}</td>
				<td class="middle">{{euro prezzo}}</td>
				<td class="middle" style="width:50px;">qta. {{qta}}</td>
			</tr>
			{{/carrello.prodotti}}
		</tbody>
	</table>			
</div>

<div class="margin-bottom">

	<h2 class="subtitle">Riepilogo</h2>

	<table class="nicetable" cellpadding="10" width="100%">
		<tbody>
			<tr>
				<td class="label">Subtotale</td>
				<td class="value">{{euro carrello.subTotale}}</td>
			</tr>
			<!--
			{{#gt carrello.scontoNatalizio 0}}
			<tr>
				<td class="label">Promo natalizia (sconto 20%)</td>
				<td class="value">-{{euro carrello.scontoNatalizio}}</td>
			</tr>
			{{/gt}}
			-->
			{{#gt carrello.sconto10 0}}
			<tr>
				<td class="label">Sconto del 10%</td>
				<td class="value">-{{euro carrello.sconto10 }}</td>
			</tr>
			{{/gt}}
			<tr>
				<td class="label">Spese di spedizione</td>
				<td class="value">{{euro carrello.speseSpedizione}}</td>
				<!--td class="value">Omaggio</td-->
			</tr>
			<tr>
				<td class="label">Imponibile</td>
				<td class="value">{{euro carrello.imponibile}}</td>
			</tr>
			<tr>
				<td class="label">Iva</td>
				<td class="value">{{euro carrello.totaleIva}}</td>
			</tr>
			<tr>
				<td class="label">Totale</td>
				<td class="value"><strong>{{euro carrello.totale}}</strong></td>
			</tr>
		</tbody>
	</table>	
</div>

<div class="margin-bottom">
	<h2 class="subtitle">Spedizione {{#carrello.fattura}}{{else}}e fatturazione{{/carrello.fattura}}</h2>

	<table class="nicetable" cellpadding="10" width="100%">
		<tbody>
			<tr>
				<td class="label">Nome</td>
				<td class="value">{{utente.user_metadata.nome}}</td>
			</tr>
			<tr>
				<td class="label">Cognome</td>
				<td class="value">{{utente.user_metadata.cognome}}</td>
			</tr>
			<tr>
				<td class="label">Indirizzo</td>
				<td class="value">{{utente.user_metadata.indirizzo}}</td>
			</tr>
			<tr>
				<td class="label">N. Civico</td>
				<td class="value">{{utente.user_metadata.civico}}</td>
			</tr>
			<tr>
				<td class="label">Cap</td>
				<td class="value">{{utente.user_metadata.cap}}</td>
			</tr>
			<tr>
				<td class="label">Città</td>
				<td class="value">{{utente.user_metadata.citta}}</td>
			</tr>
			<tr>
				<td class="label">Provincia</td>
				<td class="value">{{utente.user_metadata.provincia}}</td>
			</tr>
			<tr>
				<td class="label">Codice fiscale</td>
				<td class="value">{{utente.user_metadata.cf}}</td>
      </tr>
			<tr>
				<td class="label">Telefono</td>
				<td class="value">{{utente.user_metadata.telefono}}</td>
			</tr>
      {{#if utente.user_metadata.pec}}
			<tr>
				<td class="label">PEC</td>
				<td class="value">{{utente.user_metadata.pec}}</td>
			</tr>
      {{/if}}
      {{#if utente.user_metadata.sdi}}
			<tr>
				<td class="label">Codice SDI</td>
				<td class="value">{{utente.user_metadata.sdi}}</td>
			</tr>
      {{/if}}
		</tbody>
	</table>
</div>

{{#carrello.fattura}}
<div class="margin-bottom">
	<h2 class="subtitle">Fatturazione</h2>

	<table class="nicetable" cellpadding="10" width="100%">
		<tbody>
			<tr>
				<td class="label">Nome / Rag. Sociale</td>
				<td class="value">{{utente.user_metadata.fatturazione.nome}}</td>
			</tr>
			<tr>
				<td class="label">Indirizzo</td>
				<td class="value">{{utente.user_metadata.fatturazione.indirizzo}}</td>
			</tr>
			<tr>
				<td class="label">N. Civico</td>
				<td class="value">{{utente.user_metadata.fatturazione.civico}}</td>
			</tr>
			<tr>
				<td class="label">Cap</td>
				<td class="value">{{utente.user_metadata.fatturazione.cap}}</td>
			</tr>
			<tr>
				<td class="label">Città</td>
				<td class="value">{{utente.user_metadata.fatturazione.citta}}</td>
			</tr>
			<tr>
				<td class="label">Provincia</td>
				<td class="value">{{utente.user_metadata.fatturazione.provincia}}</td>
			</tr>
			<tr>
				<td class="label">P.Iva</td>
				<td class="value">{{utente.user_metadata.fatturazione.iva}}</td>
			</tr>
			<tr>
				<td class="label">Codice fiscale</td>
				<td class="value">{{utente.user_metadata.fatturazione.cf}}</td>
			</tr>

		</tbody>
	</table>		
</div>
{{/carrello.fattura}}

<h2 class="subtitle">Modalità di pagamento</h2>

{{#is carrello.pagamento 'contrassegno'}}

<p>Tramite assegno bancario intestato a <strong>Eurovetrina di Paolo Giudici</strong> o contanti (non sono previste commissioni aggiuntive)</p>

{{/is}}	

{{#is carrello.pagamento 'bonifico'}}

<p>Tramite bonifico bancario anticipato</p>
<ul>
	<li>Banca Intesa Sanpaolo</li>
	<li>Agenzia Sesto San Giovanni (MI)</li>
	<li>ABI 03069</li>
	<li>CAB 20705</li>
	<li>IBAN: IT 98Z0306920705100000014526</li>
	<li>CIN: X</li>
	<li>SWIFT ADDRESS: BCITITMM</li>
</ul>
<br />
<p>L'ordine si ritiene confermato solo dopo aver ricevuto l'accredito da parte della banca. Il pagamento dovrà avvenire entro 5 giorni dalla data dell'ordine, oltrepassata tale data l'ordine è da ritenersi annullato.</p>

{{/is}}	

{{#is carrello.pagamento 'carta'}}
<p>Carta di credito</p>
{{/is}}