<!--
	mail verso il commerciante
-->
{{>header}}
<tr>
    <td class="column content" width="600" align="left" valign="top" border="0">

    	<h1 class="title">Nuovo ordine dal sito <strong>#{{numero}}</strong></h1>
    	
		{{>riepilogo-ordine}}

		<p>Clicca sul bottone qui sotto per vedere i dettagli dell'ordine, ricordati di controllare lo stato del pagamento.</p>

		<div class="action">
			<a href="{{app_url}}admin/ordine/{{_id}}" class="button">Dettagli ordine</a>
		</div>


    </td>
</tr>
{{>footer}}