/*
	stile del template, messi poi inline da juice
	http://responsiveemailpatterns.com/patterns/layout/column-drop.html
*/
@media only screen and (max-width: 450px) {
    td[class="column"] {
        display: block;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

body {
	font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
	background: #f3f3f4;
	padding-top: 40px;
}

table {
	border-collapse: collapse;
}

h1,h2,h3,h4,h5 {
	font-weight: bold;
}

a {
	color: #2857de;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
}

// tabelle nel contenuto

table.nicetable {
	table-layout: fixed;
	background: white;
}

table.nicetable th {
	background: #e2e2e2;
	text-transform: uppercase;
	text-align: left;
}

table.nicetable td {
	border: 1px solid #f3f3f4;
	text-align: left;
	background: white;
}

table.nicetable td.label {
	width: 150px;
	font-weight: bold;
}

table.nicetable td.value {
	text-align: right;
}

table.nicetable td.middle {
	vertical-align: middle;
	text-align: center;
}

.center {
	text-align: center;
}

.margin-bottom {
	margin-bottom: 40px;
}

.header,
.footer,
.content {
	font-size: 14px;
	padding: 20px;
}

.header {
	background: #2857de;
	color: #fff;
	text-align: center;
	height: 100px;
}

.header img {
	width: 200px;
	height: 31px;
	margin: 0 auto;
}


.content {
	background: #fff;
	color: #333;
	padding: 40px 20px 40px 20px;
}

.footer {
	font-size: 11px;
	background: #f3f3f4;
	color: #666;
}

.footer a {
	color: #666;
}

.title {
	margin: 0 0 40px 0;
	text-align: center;
	font-size: 24px;
}

.subtitle {
	text-transform: uppercase;
	color:#000;
	font-size: 16px;
	margin-bottom: 10px;
}

.action {
	margin-top: 80px;
	text-align: center;
}

.button {
	color: #fff;
	background: #2857de;
	text-align: center;
	vertical-align: middle;
	padding: 12px;
	text-decoration: none;
	font-weight: bold;
}