<!--
	mail con token verifica email
-->
{{>header}}
<tr>
    <td class="column content" width="600" align="left" valign="top" border="0">

    	<h1 class="title">Verifica account</h1>

    	<div class="center">

	     	<p><strong>Clicca il bottone qui sotto</strong> per verificare il tuo account.</p>
	    	<p>Questo passaggio è obbligatorio per completare l'acquisto.</p>
   		
    	</div>

		<div class="action">
			<a href="{{ticket}}" class="button">Abilita account</a>
		</div>

		

    </td>
</tr>
{{>footer}}