<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="frontend">
	<head>
		{{>frontend/head}}
	</head>
    <body class="home_twenty">
		{{>frontend/header}}
		{{>frontend/menu}}
		{{>frontend/slider}}
		{{>frontend/services}}
		{{>frontend/categorie-evidenza}}
		{{{body}}}
		{{>frontend/footer}}		
		{{>frontend/scripts}}     			
    </body>
</html>
