<script src="/backend/js/controllers/categoria-ordina.js"></script>


<div ng-controller="categoriaOrdina">

	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-12">
	        <h2 ng-bind="categoria.it.nome"></h2>
			<ol class="breadcrumb">
	        	<li><a href="/admin/dashboard">Home</a></li>
	        	<li><a href="/admin/categorie">Categorie</a></li>
	        	<li><a href="/admin/categoria/[[_id]]" ng-bind="categoria.it.nome"></a></li>
	        	<li class="active"><strong>Ordina</strong></li>
	    	</ol>
	    </div>
	</div>	

	<div class="wrapper wrapper-content">
		<div class="row" ng-cloak>
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">

						<!-- @@@@@@@@ contenuto controller @@@@@@@@ -->
						<div ng-show="prodotti.$resolved">

							<div ng-if="prodotti.length">
								<div ng-if="!saving">
									<div class="sortable-container grid" sv-root sv-part="prodotti">
										<div ng-repeat="p in prodotti"  class="grid-item" sv-element> 
											<cloudinary id="[[p.immagine]]" transformation="w_100,h_100,c_fill"></cloudinary>		
											<span sv-handle class="grid-handle">[[p.codice]]</span>
										</div>
									</div>	
								</div>
								<div ng-if="saving" class="text-center">
									 <i class="fa fa-4x fa-cog fa-spin"></i> <br />Attendere...
								</div>	
			
								<div class="text-right" ng-if="!saving">
									<div class="hr-line-dashed"></div>
									<button class="btn btn-primary" ng-click="salvaOrdine()">Salva</button>
								</div>	
							</div>	
							<div ng-if="!prodotti.length">
								<div class="alert alert-info">Non ci sono prodotti in questa categoria</div>
							</div>			
			
						</div>						
						<!-- @@@@@@@@ /contenuto controller @@@@@@@@ -->

					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
