<script src="/backend/js/controllers/categorie.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Categorie</h2>
		<ol class="breadcrumb">
        	<li><a href="/admin/dashboard">Home</a></li>
        	<li class="active"><strong>Categorie</strong></li>
    	</ol>
    </div>
</div>	



<div class="wrapper wrapper-content" ng-controller="categorie">
	<div class="row" ng-cloak>
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">


					<!-- @@@@@@@@ contenuto controller @@@@@@@@ -->


					<!-- template ricorsivo albero -->
					<script type="text/ng-template" id="nodes_renderer.html">
					  <div ui-tree-handle class="tree-node tree-node-content">

					    <a class="" ng-if="voce.voci && voce.voci.length > 0" data-nodrag ng-click="toggle(this)" style="margin:0;line-height:1;padding: 1px;"><span
					        class="glyphicon"
					        ng-class="{
					          'glyphicon-chevron-right': collapsed,
					          'glyphicon-chevron-down': !collapsed
					        }"></span></a>

					    [[voce.categoria.it.nome]]

						
						<div class="pull-right">
							<span data-nodrag style="font-style: italic; font-weight: normal;" class="m-r-sm"><input  type="checkbox" ng-model="voce.visibile" ng-change="cambiaVisibilita()"> visibile</span>	
							<a class="m-r-xs m-t-xxs" data-nodrag data-nodrag href="/admin/categoria/[[voce.categoria._id]]/ordina"><i class="fa fa-archive"></i></a>
							<a class="m-r-xs m-t-xxs" data-nodrag data-nodrag href="/admin/categoria/[[voce.categoria._id]]"><i class="fa fa-eye"></i></a>
						</div>

					  </div>
					  <ol ui-tree-nodes="" ng-model="voce.voci" ng-class="{hidden: collapsed}">
					    <li ng-repeat="voce in voce.voci" ui-tree-node ng-include="'nodes_renderer.html'" >
					    </li>
					  </ol>
					</script>


					<div>

					    <div ng-if="!menuCategorie.$resolved" class="m-t-xl text-center">
					        <i class="fa fa-cog fa-spin"></i> Carico il menu delle categorie...
					    </div>

						<div class="row" ng-if="menuCategorie.$resolved">

							<div class="col-md-12" ng-if="!menuCategorie.voci.length">
								<div class="alert alert-info">Non hai inserito ancora nessuna categoria: <a class="alert-link" href="/admin/categoria">Aggiungine una</a> prima di creare l'albero delle categorie</div>


							</div>

							<div class="col-md-12" ng-if="menuCategorie.voci.length">	

								<div class="m-b-md row">
									<div class="col-md-12">
									
									{{#inArray session.passport.user.app_metadata.roles "admin"}}
										<a href="/admin/categorie/evidenza" class="btn btn-default btn-outline pull-left"><i class="fa fa-th-list"></i> Categorie in evidenza</a>
									{{/inArray}}									

									<a href="/admin/categoria" class="btn btn-primary btn-outline pull-right"><i class="fa fa-plus"></i> Nuova categoria</a>
																		
									</div>

								</div>	
								<div class="hr-line-dashed"></div>	
							    <div ui-tree="treeOptions" id="tree-root" data-max-depth="2" ng-if="menuCategorie.voci.length">
							      <ol ui-tree-nodes ng-model="menuCategorie.voci">
							        <li ng-repeat="voce in menuCategorie.voci" ui-tree-node ng-include="'nodes_renderer.html'"></li>
							      </ol>
							    </div>

							    <div class="alert alert-warning m-t-md" ng-if="bozza">
							    	Hai apportato delle modifiche al menu, ricordati di salvare
							    </div>


							</div>

							<div class="text-right col-md-12" ng-if="menuCategorie.voci.length">
								<div class="hr-line-dashed"></div>
								<button ng-click="salvaMenu()" class="btn btn-primary">Salva</button>
							</div>

						</div>

							
					</div>
					<!-- @@@@@@@@ /contenuto controller @@@@@@@@ -->



					
				</div>
			</div>
		</div>
	</div>
</div>	








