<script src="/backend/js/controllers/categoria.js"></script>


<div ng-controller="categoria">

	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-12">
	        <h2 ng-bind="pageTitle"></h2>
			<ol class="breadcrumb">
	        	<li><a href="/admin/dashboard">Home</a></li>
	        	<li><a href="/admin/categorie">Categorie</a></li>
	        	<li class="active"><strong ng-bind="pageTitle"></strong></li>
	    	</ol>
	    </div>
	</div>	

	<div class="wrapper wrapper-content">
		<div class="row" ng-cloak>
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">

						<!-- @@@@@@@@ contenuto controller @@@@@@@@ -->
						<form name="formCategoria" novalidate>
								
								<div class="row">

									<div class="col-md-4">
										<div class="m-b-md" ng-if="categoria.immagine">
							 				<cloudinary id="[[categoria.immagine]]" transformation="h_250,c_fill" bootstrapclass="img-responsive"></cloudinary>				
										</div>

										<div class="progress progress-striped active m-b-md" ng-if="progress">
										    <div style="width: [[progress]]%" class="progress-bar progress-bar-success">
										    </div>
										</div>

										<div class="dropzone dz-clickable" 
										     ng-if="!progress"
											 ng-model="files"
											 ngf-select="uploadImmagine($files)"
								             ngf-drop="uploadImmagine($files)"
								             ngf-drag-over-class="{accept:'ok', reject:'error'}"
								             ngf-multiple="false"
								             ngf-allow-dir="false"
								             ngf-pattern="image/*">
								        	<div class="dz-default dz-message">
								        		<span><strong>Trascina qui una foto. </strong><br> (.jpg o .png)</span>
								        	</div>
								        </div>

									</div>


									<div class="col-md-8">


										<ul class="nav nav-pills admin-tabs">
											<li ng-class="{'active': lang === 'it'}"><a href="" ng-click="setIT()"><img src="/backend/img/icons/it.png">  Italiano</a></li>
											<li ng-class="{'active': lang === 'en'}"><a href="" ng-click="setEN()"><img src="/backend/img/icons/gb.png"> Inglese</a></li>
						                </ul>

						                <div class="m-t-lg" ng-show="lang==='it'">
							                <div class="form-group">
							                    <label for="nome">Nome *</label>
							                    <input type="text" class="form-control" ng-model="categoria.it.nome" id="nome" autocomplete="off" required>
							                </div>
							                <div class="hr-line-dashed"></div>

							                <div class="form-group">
							                    <label for="descrizione">Descrizione</label>
							                    <input type="text" class="form-control" ng-model="categoria.it.descrizione" id="descrizione" autocomplete="off">
							                </div>
							                <div class="hr-line-dashed"></div>

							                <div class="form-group">
							                    <label for="metatitle">Meta Title</label>
							                    <input type="text" class="form-control" ng-model="categoria.it.meta_title" id="metatitle" autocomplete="off" name="">
							                </div>
							                <div class="hr-line-dashed"></div>	

							                <div class="form-group">
							                    <label for="metadesc">Meta Description</label>
							                    <input type="text" class="form-control" ng-model="categoria.it.meta_description" id="metadesc" autocomplete="off">
							                </div>

							                <div class="hr-line-dashed"></div>

							                <div class="form-group">
							                    <label for="redirect">Vecchio url da reindirizzare</label>
							                    <input type="text" class="form-control" ng-model="categoria.it.redirect" id="redirect" autocomplete="off">
							                </div>

						                </div>
						                <!--/italiano-->

						                <div class="m-t-lg" ng-show="lang==='en'">
							                <div class="form-group">
							                    <label for="nome">Nome *</label>
							                    <input type="text" class="form-control" ng-model="categoria.en.nome" id="nome" autocomplete="off">
							                </div>
							                <div class="hr-line-dashed"></div>

							                <div class="form-group">
							                    <label for="descrizione">Descrizione</label>
							                    <input type="text" class="form-control" ng-model="categoria.en.descrizione" id="descrizione" autocomplete="off">
							                </div>

							                <div class="hr-line-dashed"></div>

							                <div class="form-group">
							                    <label for="metatitle">Meta Title</label>
							                    <input type="text" class="form-control" ng-model="categoria.en.meta_title" id="metatitle" autocomplete="off">
							                </div>
							                <div class="hr-line-dashed"></div>	

							                <div class="form-group">
							                    <label for="metadesc">Meta Description</label>
							                    <input type="text" class="form-control" ng-model="categoria.en.meta_description" id="metadesc" autocomplete="off">
							                </div>

							                <div class="hr-line-dashed"></div>

							                <div class="form-group">
							                    <label for="redirect">Vecchio url da reindirizzare</label>
							                    <input type="text" class="form-control" ng-model="categoria.en.redirect" id="redirect" autocomplete="off">
							                </div>

						                </div>
						                <!--/inglese-->
										
									</div>
								</div>	

								<div class="row">
									<div class="col-md-12">
										<div class="hr-line-dashed"></div>
										<div class="pull-left" ng-if="categoria._id">
											<a href="/admin/categoria/[[categoria._id]]/ordina" class="btn btn-default m-r"><i class="fa fa-archive"></i> Ordina prodotti</a>
											<a href="/admin/categoria/[[categoria._id]]/alias" class="btn btn-default"><i class="fa fa-link"></i> Mostra gli alias</a>										
										</div>
										<div class="pull-right">
											<button ng-click="salvaCategoria(true)" class="btn btn-primary" ng-disabled="disabled()" ng-if="!categoria._id">Salva e continua</button>
											<button ng-click="salvaCategoria()" class="btn btn-primary" ng-disabled="disabled()">Salva</button>
										</div>
										
									</div>
								</div>

									
							</form>						
						<!-- @@@@@@@@ /contenuto controller @@@@@@@@ -->

					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
