<script src="/backend/js/controllers/categorie-evidenza.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Categorie in evidenza</h2>
		<ol class="breadcrumb">
        	<li><a href="/admin/dashboard">Home</a></li>
        	<li><a href="/admin/categorie">categorie</a></li>
        	<li class="active"><strong>evidenza</strong></li>
    	</ol>
    </div>
</div>	

<div class="wrapper wrapper-content" ng-controller="categorieEvidenza">
	<div class="row" ng-cloak>
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">


						<div class="row">
							<div class="col-md-3">
								<label for="">Testo IT</label>
								<input class="form-control" type="text" ng-model="blocco.it">
							</div>
							<div class="col-md-3">
								<label for="">Testo EN</label>
								<input class="form-control" type="text" ng-model="blocco.en">
							</div>
							<div class="col-md-3">
								<label class="d-block"><span style="color:white">s</span></label>
								<button href="" class="btn btn-primary" ng-click="aggiungiBlocco()" ng-disabled="!blocco.it || !blocco.en"> Aggiungi blocco</button>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="row m-t-lg" ng-repeat="e in evidenza.categorie">
							<div class="col-md-4">
								

										<div class="m-b-md" ng-if="e.immagine">
							 				<cloudinary id="[[e.immagine]]" transformation="w_700,h_250,c_fill" bootstrapclass="img-responsive"></cloudinary>				
										</div>

										<div class="progress progress-striped active m-b-md" ng-if="progress[$index]">
										    <div style="width: [[ progress[$index] ]]%" class="progress-bar progress-bar-success">
										    </div>
										</div>

										<div class="dropzone dz-clickable" 
												style="min-height: 50px; padding: 0;"
										     ng-if="!progress[$index]"
											 ng-model="files"
											 ngf-select="uploadImmagine($files,$index)"
								             ngf-drop="uploadImmagine($files,$index)"
								             ngf-drag-over-class="{accept:'ok', reject:'error'}"
								             ngf-multiple="false"
								             ngf-allow-dir="false"
								             ngf-pattern="image/*">
								        	<div class="dz-default dz-message" style="margin: 1em 0;">
								        		<span><strong>Trascina qui una foto. </strong><br> (.jpg o .png)</span>
								        	</div>
								        </div>




							</div>
							<div class="col-md-8">
								<h3>[[$index + 1]]. [[e.it]] <a href="" class="btn btn-danger btn-xs pull-right" ng-click="evidenza.categorie.splice($index,1)"><i class="fa fa-trash-o"></i></a></h3>
								<div class="hr-line-dashed"></div>
								<div class="row">
									<div class="col-md-4">
										<select class="form-control" ng-model="figliaSelezionata[$index]" ng-options="cat as cat.it.nome for cat in categorie  | filter: disponibili">
											<option value="">- Scegli una categoria -</option>
										</select>										
									</div>
									<div class="col-md-4">
										<a href="" class="btn btn-primary btn-outline" ng-click="aggiungiFiglia($index,figliaSelezionata[$index])">Aggiungi categoria</a>
									</div>
								</div>
								<div class="row" ng-if="e && e.figlie && e.figlie.length">
									<div class="col-md-12">
										<table class="table m-t-lg table-stiped table-bordered table-striped" >
											<tbody>
												<tr ng-repeat="f in e.figlie">
													<td><a href="" class="btn btn-danger btn-xs m-r" ng-click="e.figlie.splice($index,1)"><i class="fa fa-trash-o"></i></a> [[$index + 1]] - [[f.it.nome]]</td>
												</tr>
											</tbody>
										</table>										
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="hr-line-dashed"></div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
								<button href="" class="btn btn-primary pull-right" ng-disabled="!evidenza || !evidenza.categorie || !evidenza.categorie.length" ng-click="salva()">Salva</button>
							</div>
						</div>
						
						
				</div>
			</div>
		</div>
	</div>
</div>	
