
<div class="wrapper wrapper-content">
	<div class="row">

		<div class="col-md-4">
			<div class="ibox float-e-margins">
                <div class="ibox-title red-bg">
                    <i class="fa fa-tag pull-right"></i>
                    <h5>Categorie</h5>
                </div>
                <div class="ibox-content">
                	<div class="pull-right">
                		<a class="btn btn-sm btn-default" href="/admin/categorie"><i class="fa fa-th-list"></i> Elenco</a>
                		<a class="btn btn-sm btn-default"  href="/admin/categoria"><i class="fa fa-plus"></i> Nuova</a>
                	</div>
                    <h1 class="no-margins">{{count.categorie}}</h1>
                </div>
            </div>
		</div>

		<div class="col-md-4">
			<div class="ibox float-e-margins">
                <div class="ibox-title blue-bg">
                    <i class="fa fa-archive pull-right"></i>
                    <h5>Prodotti</h5>
                </div>
                <div class="ibox-content">
                	<div class="pull-right">
                		<a class="btn btn-sm btn-default" href="/admin/prodotti"><i class="fa fa-th-list"></i> Elenco</a>
                		<a class="btn btn-sm btn-default"  href="/admin/prodotto"><i class="fa fa-plus"></i> Nuovo</a>
                	</div>
                    <h1 class="no-margins">{{count.prodotti}}</h1>
                </div>
            </div>
		</div>


        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title yellow-bg">
                    <i class="fa fa-money pull-right"></i>
                    <h5>Ordini</h5>
                </div>
                <div class="ibox-content">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-default" href="/admin/ordini"><i class="fa fa-th-list"></i> Elenco</a>
                    </div>
                    <h1 class="no-margins">{{count.ordini}}  <small class="text-muted">per {{ euro totaleordini }}</small></h1>
                </div>
            </div>
        </div>

	</div>
</div>

