<script src="/backend/js/controllers/ordini.js"></script>



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Ordini</h2>
		<ol class="breadcrumb">
        	<li><a href="/admin/dashboard">Home</a></li>
        	<li class="active"><strong>Ordini</strong></li>
    	</ol>
    </div>
</div>	

<div class="wrapper wrapper-content" ng-controller="ordini">
	<div class="row" ng-cloak>
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					

					<!-- @@@@@@@@ contenuto controller @@@@@@@@ -->
				    <div ng-if="!ordini.$resolved" class="m-t-xl text-center">
				        <i class="fa fa-cog fa-spin"></i> Carico gli ordini...
				    </div>

					<div class="row" ng-if="ordini.$resolved">


						<div class="col-md-12">	

							<div class="row">
								<form name="cercaForm">
									<div class="col-md-6">
										<input type="text" ng-model="cerca.keyword" class="form-control" placeholder="Cerca... (Almeno 2 caratteri)">
									</div>
									<div class="col-md-3">
										<button ng-disabled="!cerca.keyword || cerca.keyword.length < 2" class="btn btn-info" ng-click="cercaOrdini()">Cerca</button>
										<button class="btn btn-default" ng-click="reset()" ng-if="searchresults">Ripristina</button>
									</div>
									<div class="col-md-12"><hr class="hr-line-dashed" /></div>
								</form>
								
							</div>	

							<div ng-if="!searchresults && ordini.length" class="m-b-sm" >
								<small class="text-muted">ultimi 20 ordini</small>
							</div>

							<div ng-if="searchresults && ordini.length" class="m-b-sm">
								<small class="text-muted">Risultati della ricerca</small>
							</div>

							<div ng-if="!ordini.length && !searchresults">
								<div class="alert alert-info">Nessun ordine</div>
							</div>

							<div ng-if="!ordini.length && searchresults">
								<div class="alert alert-info">Non ho trovato nessun ordine con questo criterio di ricerca</div>
							</div>

					        <div class="table-responsive" ng-if="ordini.length">
					            <table class="table table-striped table-bordered table-hover">
					                <thead>
					                    <tr>
					                   		<th>Numero</th>
					                        <th class="col-sm-2">Data</th>
					                        <th>Cliente</th>
					                        <th>Tipo di pagamento</th>
					                        <th>Stato</th>
					                        <th>Totale</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr ng-repeat="ordine in ordini track by ordine._id">
											<td><a href="/admin/ordine/[[ordine._id]]">[[ ordine.numero ]]</a></td>
											<td>[[ ordine.data | date : 'dd/MM/yy HH:mm']]</td>
											<td>[[ ordine.utente.email ]]</td>
											<td>[[ ordine.carrello.pagamento ]]</td>
											<td><stato-ordine stato="[[ ordine.stato ]]"></stato-ordine></td>
											<td>[[ ordine.carrello.totale | euro ]]</td>
					                    </tr>
					                </tbody>
					            </table>
					        </div>

						</div>
						<!-- / elenco ordini -->



						<div class="text-right col-md-12" ng-if="menuCategorie.voci.length">
							<div class="hr-line-dashed"></div>
							<button ng-click="salvaProdotto()" class="btn btn-primary">Salva</button>
						</div>
				


					</div>
					<!-- @@@@@@@@ /contenuto controller @@@@@@@@ -->

					




				</div>
			</div>
		</div>
	</div>
</div>	







