<script src="/backend/js/controllers/ordine.js"></script>


<div ng-controller="ordine">

	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-8">
	        <h2>Ordine n.<span ng-bind="pageTitle"></span></h2>
			<ol class="breadcrumb">
	        	<li><a href="/admin/dashboard">Home</a></li>
	        	<li><a href="/admin/ordini">Ordini</a></li>
	        	<li class="active"><strong ng-bind="pageTitle"></strong></li>
	    	</ol>
	    </div>
	    <div class="col-lg-4 text-right">
	    	<h2 class="m-t" ng-bind="(ordine.carrello.totale | euro)"></h2>
	    	<stato-ordine stato="[[ ordine.stato ]]"></stato-ordine>
	    </div>
	</div>	

	<div class="wrapper wrapper-content">
		<div class="row" ng-cloak>
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						

						<!-- @@@@@@@@ contenuto controller @@@@@@@@ -->
					    <div ng-if="!ordine.$resolved" class="m-t-xl text-center">
					        <i class="fa fa-cog fa-spin"></i> Carico l'ordine
					    </div>

						<div class="row" ng-if="ordine.$resolved">

							<div class="col-md-12 m-b-lg">
								<div class="row">
									<div class="col-md-4">
										<h3>Spedizione <span ng-if="!ordine.carrello.fattura">e fatturazione</span></h3>
										<hr />
				                        <dl class="dl-horizontal">
				                            <dt>Nome</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.nome"></dd>
				                            <dt>Cognome</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.cognome"></dd>     
				                            <dt>Cap</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.cap"></dd>                                                       
				                            <dt>Provincia</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.provincia"></dd>
				                            <dt>Città</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.citta"></dd>  
				                            <dt>Indirizzo</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.indirizzo"></dd>   
				                            <dt>Civico</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.civico"></dd>                              
				                            <dt>Telefono</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.telefono"></dd>  
				                            <dt>Codice fiscale</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.cf"></dd>           
				                            <dt>PEC</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.pec"></dd>           
				                            <dt>Codice SDI</dt>
				                            <dd ng-bind="ordine.utente.user_metadata.sdi"></dd>                                                                                          
				                        </dl>
									</div>
									<div class="col-md-4" ng-show="ordine.carrello.fattura">
										<h3>Fatturazione</h3>
										<hr />
			                            <dl class="dl-horizontal">
			                                <dt>Nome / Ragione sociale</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.nome"></dd>
			                                <dt>P.Iva</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.iva"></dd>     
			                                <dt>Cap</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.cap"></dd>                                                       
			                                <dt>Provincia</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.provincia"></dd>
			                                <dt>Città</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.citta"></dd>  
			                                <dt>Indirizzo</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.indirizzo"></dd>   
			                                <dt>Civico</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.civico"></dd>                              
			                                <dt>Codice fiscale</dt>
			                                <dd ng-bind="ordine.utente.user_metadata.fatturazione.cf"></dd>                              
			                            </dl>										
									</div>
									<div class="col-md-4" ng-if="emailCliente">
										<h3>Mail al cliente </h3>
										<hr />
										<stato-mail mail="emailCliente"></stato-mail>
									</div>							
								</div>
							</div>

							<div class="col-md-12">
								<div class="table-responsive m-t">
	                                <table class="table invoice-table">
	                                    <thead>
		                                    <tr>
		                                        <th>Prodotti</th>
		                                        <th>Quantità</th>
		                                        <th>Prezzo</th>
		                                        <th>Totale</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
		                                    <tr ng-repeat="p in ordine.carrello.prodotti track by $index">
		                                        <td>
		                                        	<div>art.<strong ng-bind="p.codice"></strong> - <span ng-bind="p.nome"></span> <em ng-if="p.variante" class="text-muted">([[p.variante.nome]])</em></div>
		                                            
		                                         </td>
		                                        <td><span ng-bind="p.qta"></span></td>
		                                        <td><span ng-bind="(p.prezzo | euro)"></span></td>
		                                        <td><span ng-bind="(p.qta * p.prezzo | euro)"></span></td>
		                                    </tr>

	                                    </tbody>
	                                </table>
	                            </div>	
							</div>
							<div class="col-md-12">
								<table class="table invoice-total">
	                                <tbody>
	                                    <tr>
	                                        <td><strong>Totale</strong></td>
	                                        <td ng-bind="(ordine.carrello.subTotale | euro)"></td>
	                                    </tr>
	                                    <tr ng-if="ordine.carrello.scontoNatalizio">
	                                        <td><strong>Sconto 20%</strong></td>
	                                        <td ng-bind="'-'+(ordine.carrello.scontoNatalizio | euro)"></td>
	                                    </tr>
	                                    <tr ng-if="ordine.carrello.subTotale >= 1500">
	                                        <td><strong>Sconto 10%</strong></td>
	                                        <td ng-bind="'-'+(ordine.carrello.sconto10 | euro)"></td>
	                                    </tr>
	                                    <tr>
	                                        <td><strong>Spese di spedizione</strong></td>
	                                        <td><span ng-bind="(ordine.carrello.speseSpedizione | euro)"></span></td>
	                                    </tr>
	                                    <tr>
	                                        <td><strong>Totale imponibile</strong></td>
	                                        <td ng-bind="(ordine.carrello.imponibile | euro)"></td>
	                                    </tr>	                         
	                                    <tr>
	                                        <td><strong>Iva 22%</strong></td>
	                                        <td ng-bind="(ordine.carrello.totaleIva | euro)"></td>
	                                    </tr>
	                                    <tr>
	                                        <td><strong>Totale ordine</strong></td>
	                                        <td> <h3><strong  ng-bind="(ordine.carrello.totale | euro)"></strong></h3></td>
	                                    </tr>
	                                </tbody>
	                            </table>
							</div>
							<div class="col-md-12">
								<a href="" ng-click="cambiaStato(1)" class="btn btn-warning" ng-if="ordine.stato!==1">Segna come da pagare</a>
								<a href="" ng-click="cambiaStato(2)" class="btn btn-info" ng-if="ordine.stato!==2">Segna come pagato</a>
								<a href="" ng-click="cambiaStato(3)" class="btn btn-primary" ng-if="ordine.stato!==3">Segna come spedito</a>
							</div>




						</div>
						<!-- @@@@@@@@ /contenuto controller @@@@@@@@ -->


					</div>
				</div>
			</div>
		</div>
	</div>	
</div>






