<script src="/backend/js/controllers/prodotti.js"></script>



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Prodotti</h2>
		<ol class="breadcrumb">
        	<li><a href="/admin/dashboard">Home</a></li>
        	<li class="active"><strong>Prodotti</strong></li>
    	</ol>
    </div>
</div>	

<div class="wrapper wrapper-content" ng-controller="prodotti">
	<div class="row" ng-cloak>
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					

					<!-- @@@@@@@@ contenuto controller @@@@@@@@ -->
				    <div ng-if="!prodotti.$resolved && !categorie.$resolved " class="m-t-xl text-center">
				        <i class="fa fa-cog fa-spin"></i> Carico i prodotti...
				    </div>

					<div class="row" ng-if="prodotti.$resolved && categorie.$resolved">


						<div class="col-md-12">	

							<div class="row">
								<form name="cercaForm">
									<div class="col-md-3">
										<input type="text" ng-model="cerca.keyword" class="form-control" placeholder="Cerca... (Almeno 2 caratteri)">
									</div>
									<div class="col-md-3">
										<select type="text" ng-model="cerca.categoria" class="form-control" ng-options="categoria._id as categoria.nome group by categoria.group for categoria in categorieGroups | filter: filterOptions | orderBy : 'group'">
										<option value="">- Filtra per categoria -</option>
										</select>
										
									</div>
									<div class="col-md-3">
										<button ng-disabled="!cerca.categoria && !cerca.keyword || cerca.keyword.length < 2" class="btn btn-info" ng-click="cercaProdotti()">Cerca</button>
										<button class="btn btn-default" ng-click="reset()" ng-if="searchresults">Ripristina</button>
									</div>
									<div class="col-md-3 text-right">
										<a href="/admin/prodotto" class="btn btn-primary btn-outline"><i class="fa fa-plus"></i> Nuovo prodotto</a>
									</div>
									<div class="col-md-12"><hr class="hr-line-dashed" /></div>
								</form>
								
							</div>	

							<div ng-if="!searchresults && prodotti.length" class="m-b-sm" >
								<small class="text-muted">ultimi 20 prodotti aggiornati</small>
							</div>

							<div ng-if="searchresults && prodotti.length" class="m-b-sm">
								<small class="text-muted">Risultati della ricerca</small>
							</div>

							<div ng-if="!prodotti.length && !searchresults">
								<div class="alert alert-info">Non hai inserito ancora nessun prodotto: <a class="alert-link" href="/admin/prodotto">Aggiungine uno</a></div>
							</div>

							<div ng-if="!prodotti.length && searchresults">
								<div class="alert alert-info">Non ho trovato nessun prodotto con questo criterio di ricerca</div>
							</div>

					        <div class="table-responsive" ng-if="prodotti.length">
					            <table class="table table-striped table-bordered table-hover">
					                <thead>
					                    <tr>
					                        <th class="col-sm-2">Codice</th>
					                        <th>Nome</th>
					                        <th>Categoria</th>
					                        <th class="col-sm-2 text-center">Visibile sul sito</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr ng-repeat="prodotto in prodotti track by prodotto._id">
					                        <td><a href="/admin/prodotto/[[prodotto._id]]">[[ prodotto.codice ]]</a></td>
					                        <td>[[ prodotto.it.nome  ]]</td>
					                        <td><a href="/admin/categoria/[[ prodotto.categoria._id  ]]">[[ prodotto.categoria.it.nome  ]]</a></td>
					                        <td class="text-center"> <i class="fa fa-check text-success" ng-show="prodotto.visibile"></i> </td>
					                    </tr>
					                </tbody>
					            </table>
					        </div>

						</div>
						<!-- / elenco prodotti -->



						<div class="text-right col-md-12" ng-if="menuCategorie.voci.length">
							<div class="hr-line-dashed"></div>
							<button ng-click="salvaProdotto()" class="btn btn-primary">Salva</button>
						</div>



					</div>
					<!-- @@@@@@@@ /contenuto controller @@@@@@@@ -->





				</div>
			</div>
		</div>
	</div>
</div>	







