<script src="/backend/js/controllers/prodotto-alias.js"></script>


<div ng-controller="prodottoAlias">

	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-12">
	        <h2 ng-bind="pageTitle"></h2>
			<ol class="breadcrumb">
	        	<li><a href="/admin/dashboard">Home</a></li>
	        	<li><a href="/admin/prodotti">Prodotti</a></li>
	        	<li><a href="/admin/prodotto/[[_id]]" ng-bind="pageTitle"></a></li>
	        	<li class="active"><strong>alias</strong></li>
	    	</ol>
	    </div>
	</div>	

	<div class="wrapper wrapper-content" >
		<div class="row" ng-cloak>
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">

						<!-- @@@@@@@@ contenuto controller @@@@@@@@ -->
						<div ng-show="alias.$resolved">

					        <div class="table-responsive">
					            <table class="table table-bordered table-hover">
					                <thead>
					                    <tr>
					                        <th class="col-sm-2">lingua</th>
					                        <th>Url</th>
					                        <th class="col-sm-2 text-center">Redirect</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <tr ng-repeat="a in alias track by a._id" ng-class="{'active': !a.redirect}">
					                        <td>[[ a.lang ]]</td>
					                        <td><em ng-if="a.redirect">[[ a.url  ]]</em><strong ng-if="!a.redirect">[[ a.url  ]]</strong></td>
					                        <td class="text-center"> <i class="fa fa-check text-success" ng-show="a.redirect"></i> </td>
					                    </tr>
					                </tbody>
					            </table>
					        </div>
					
						</div>						
						<!-- @@@@@@@@ /contenuto controller @@@@@@@@ -->

					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
