<!DOCTYPE html>
<html ng-app="backend">
	<head>
		<title>Eurovetrina | Backend</title>

	    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	    <link href="/animate.css/animate.min.css" rel="stylesheet">
	    <link href="/angular-motion/dist/angular-motion.min.css" rel="stylesheet">
	    <link href="/ng-notify/dist/ng-notify.min.css" rel="stylesheet">
	    <link href="/backend/css/inspinia.css" rel="stylesheet">

		<link rel="shortcut icon" href="/backend/img/favicons/favicon.ico">

		<!--librerie -->
	    <script src="/fastclick/lib/fastclick.js"></script>
	    <script src="/jquery/dist/jquery.min.js"></script>
	    <script src="/lodash/lodash.min.js"></script>
	    <script src="/async/dist/async.min.js"></script>
	    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="/metismenu/dist/metisMenu.min.js"></script>
	    <script src="/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/backend/js/inspinia.js"></script>
		<script src="/numeral/min/numeral.min.js"></script>
		<script src="/numeral/min/locales/it.min.js"></script>


		<script src="/angular/angular.min.js"></script>
		<script src="/angular-resource/angular-resource.min.js"></script>
		<script src="/angular-animate/angular-animate.min.js"></script>
		<script src="/angular-strap/dist/angular-strap.min.js"></script>
		<script src="/angular-strap/dist/angular-strap.tpl.js"></script>
		<script src="/ng-notify/dist/ng-notify.min.js"></script>
		<script src="/ng-file-upload/dist/ng-file-upload.min.js"></script>
		<script src="/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
		<script src="/angular-sortable-view/src/angular-sortable-view.min.js"></script>
		<script src="/bootcomplete/dist/bootcomplete.min.js"></script>
		<script src="/bootbox.js/bootbox.min.js"></script>
		<!--/librerie -->

		<!-- logiche -->
		<script src="/backend/js/index.js"></script>
		<!-- controller nei singoli tpl delle route -->
	</head>
    <body>

	
        <div id="wrapper">

            <nav class="navbar-default navbar-static-side">
            	{{>backend/navbar}}
            </nav>

            <div id="page-wrapper" class="gray-bg">

				<div class="row border-bottom">
					{{>backend/userbar}}
				</div>				
				

				{{{body}}}

			</div>
        </div>
    </body>
</html>