<div class="error_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="error_text text-center">
                	<div>
                		<img src="/frontend/img/logo/eurovetrina_logo.svg" style="max-width:200px;">
                	</div>
                    <h1>404</h1>
                    <h2>Questa pagina non esiste</h2>
                    <div class="previous_button">
                        <a href="/" class="previous_page_button">Torna alla homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
