<div class="modal" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-center m-b-lg"><i class="fa fa-cog fa-spin"></i> Caricamento in corso</h3>
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr ng-repeat="immagine in immagini">
                                    <td style="vertical-align:middle;" class="col-sm-1">
                                        <img style="max-width:50px; max-height: 50px;" ngf-thumbnail="immagine">
                                    </td>
                                    <td style="vertical-align:middle;" class="col-sm-5">
                                        <div class="progress" style="margin-bottom:0;">
                                            <div 
                                               class="progress-bar" 
                                               ng-class="{'active progress-bar-striped' :immagine.progress<100 , 'progress-bar-success' : immagine.progress===100}"
                                               style="width: [[immagine.progress]]%">
                                               <span ng-show="immagine.progress===100"><i class="fa fa-check"></i> caricata!</span>
                                            </div>
                                        </div>                           
                                    </td>
                            </tbody>
                        </table>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

