<div class="modal" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" ng-click="$hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
	                    <div class="form-group">
	                    	<label for="variante">Tipo *</label>
	                    	<input type="text" class="form-control" ng-model="variante" ng-init="variante='Varianti'" id="variante" autocomplete="off" required ng-keyup="$event.keyCode == 13 && aggiungiVariante(variante)">
	                    	<small class="help-block text-muted">Es: Colore</small>
	                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>
                <button type="button" class="btn btn-primary" ng-disabled="!variante" ng-click="aggiungiVariante(variante)">Salva</button>    
            </div>
        </div>
    </div>
</div>