


<div class="checkout" ng-controller="carrello" ng-if="cart.$resolved">
	
	<section class="shop_banner">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <div class="shop_banner_text">
	                   <div class="table_cell text-center">
	                        <h2>Consegna</h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<div class="banner_bottom_area  m-t-2 m-b-2" ng-if="cart.prodotti.length">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>01</p>
	                    <h4>Carrello</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center active">
	                    <p class="active">02</p>
	                    <h4>Consegna</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>03</p>
	                    <h4>Pagamento</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>04</p>
	                    <h4>Riepilogo</h4>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<section class="shop_page_area  m-t m-b">
	    <div class="container">
	    	<div class="col-md-12" ng-show="cart.prodotti.length">

				
				<div ng-show="!user.user_id && !toVerify" class="m-b-3">
					<h4 class="m-b">Già registrato? <a class="btn btn-primary" href="/api/auth/login">Accedi</a></h4>
					<p>Se non sei già registrato, compila i moduli sottostanti.</p>
					<hr />					
				</div>

	    		<form name="formSpedizione" ng-show="!toVerify" novalidate>
	    			<h4 class="m-b">1. Aggiungi un indirizzo di spedizione</h4>
					<p>Le spedizioni verranno effettutate con il corriere espresso <strong>Bartolini</strong>. Tempi di consegna 2/3 giorni (escluse le località disagiate). <br/>Le spedizioni vengono effettuate solo per l'Italia, per spedizioni all'estero contattateci.</p>
	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.nome.$invalid && !formSpedizione.nome.$pristine }">
			    				<label class="control-label" for="nome">Nome *</label>
			    				<input type="text" name="nome" class="form-control" ng-model="user.user_metadata.nome" placeholder="es: Mario" required id="nome">
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.cognome.$invalid && !formSpedizione.cognome.$pristine }">
			    				<label class="control-label" for="cognome">Cognome *</label>
			    				<input type="text" class="form-control" name="cognome" ng-model="user.user_metadata.cognome" placeholder="es: Rossi" required id="cognome">
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.indirizzo.$invalid && !formSpedizione.indirizzo.$pristine }">
			    				<label class="control-label" for="indirizzo">Indirizzo *</label>
			    				<input type="text" name="indirizzo" class="form-control" ng-model="user.user_metadata.indirizzo" placeholder="es: Corso Buenos Aires" id="indirizzo" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.civico.$invalid && !formSpedizione.civico.$pristine }">
			    				<label class="control-label" for="civico">Numero civico *</label>
			    				<input type="text" name="civico" class="form-control" ng-model="user.user_metadata.civico" placeholder="es: 21" id="civico" required>
			    			</div>	    					
	    				</div>
	    			</div>


	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.cap.$invalid && !formSpedizione.cap.$pristine }">
			    				<label class="control-label" for="cap" >CAP *</label>
			    				<input type="number" name="cap" class="form-control" ng-model="user.user_metadata.cap" placeholder="es: 20131" id="cap" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.citta.$invalid && !formSpedizione.citta.$pristine }">
			    				<label class="control-label" for="citta">Città *</label>
			    				<input type="text" name="citta" class="form-control" ng-model="user.user_metadata.citta" placeholder="es: Milano" id="citta" required>
			    			</div>	    					
	    				</div>

	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.provincia.$invalid && !formSpedizione.provincia.$pristine }">
			    				<label class="control-label" for="provincia">Provincia *</label>
			    				<select class="form-control" name="provincia" ng-model="user.user_metadata.provincia" ng-options="p.sigla as p.nome for p in province" id="provincia" required>
			    					<option value=""> - Seleziona - </option>
			    				</select>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.telefono.$invalid && !formSpedizione.telefono.$pristine }">
			    				<label class="control-label" for="telefono">Telefono *</label>
			    				<input type="text" name="telefono" class="form-control" ng-model="user.user_metadata.telefono" placeholder="es: +23 345 52 34 234" id="telefono" required>
			    			</div>	   					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.cf.$invalid && !formSpedizione.cf.$pristine }">
			    				<label class="control-label" for="cf">Codice fiscale *</label>
			    				<input type="text" name="cf" class="form-control" ng-model="user.user_metadata.cf" placeholder="es: DGTVFXXXXX5E324V" id="cf" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.pec.$invalid && !formSpedizione.pec.$pristine }">
			    				<label class="control-label" for="pec">PEC</label>
			    				<input type="text" name="pec" class="form-control" ng-model="user.user_metadata.pec" id="pec">
			    			</div>	   		
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.sdi.$invalid && !formSpedizione.sdi.$pristine }">
			    				<label class="control-label" for="sdi">Codice SDI</label>
			    				<input type="text" name="sdi" class="form-control" ng-model="user.user_metadata.sdi" id="sdi">
			    			</div>	 			
	    				</div>
	    				<div class="col-md-12">
	    					<br />
	    					<label for="fattura">
	    						<input type="checkbox" ng-model="cart.fattura" id="fattura"> Fattura ad un indirizzo differente
	    					</label>
	    				</div>
	    			</div>
	    		</form>
				
				<!-- fatturazione -->

	    		<form name="formFatturazione" class="m-t-2" novalidate ng-show="cart.fattura && !toVerify" novalidate>
	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.rag.$invalid && !formFatturazione.rag.$pristine }">
			    				<label class="control-label" for="rag">Nome e cognome / Rag. Sociale*</label>
			    				<input id="rag" name="rag" type="text" class="form-control" ng-model="user.user_metadata.fatturazione.nome" placeholder="es: Mario Rossi/Azienda S.r.l." required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.findirizzo.$invalid && !formFatturazione.findirizzo.$pristine }">
			    				<label class="control-label" for="findirizzo">Indirizzo *</label>
			    				<input id="findirizzo" name="findirizzo" type="text" class="form-control" ng-model="user.user_metadata.fatturazione.indirizzo" placeholder="es: Corso Buenos Aires" required>
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.fcivico.$invalid && !formFatturazione.fcivico.$pristine }">
			    				<label class="control-label" for="fcivico">Numero civico *</label>
			    				<input id="fcivico" type="text" name="fcivico" class="form-control" ng-model="user.user_metadata.fatturazione.civico" placeholder="es: 21" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.fcap.$invalid && !formFatturazione.fcap.$pristine }">
			    				<label class="control-label" for="fcap">CAP *</label>
			    				<input id="fcap" name="cap" type="number" class="form-control" ng-model="user.user_metadata.fatturazione.cap" placeholder="es: 20131" required>
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.fcitta.$invalid && !formFatturazione.fcitta.$pristine }">
			    				<label class="control-label" for="fcitta">Città *</label>
			    				<input type="text" name="fcitta" class="form-control" ng-model="user.user_metadata.fatturazione.citta" placeholder="es: Milano" id="fcitta" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.fprovincia.$invalid && !formFatturazione.fprovincia.$pristine }">
			    				<label class="control-label" for="fprovincia">Provincia *</label>
			    				<select id="fprovincia" name="fprovincia" class="form-control" ng-model="user.user_metadata.fatturazione.provincia" ng-options="p.sigla as p.nome for p in province" required>
			    					<option value=""> - Seleziona - </option>
			    				</select>
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.iva.$invalid && !formFatturazione.iva.$pristine }">
			    				<label class="control-label" for="iva">P.IVA *</label>
			    				<input type="text" name="iva" class="form-control" id="iva" ng-model="user.user_metadata.fatturazione.iva" placeholder="es: 108XXXXX158" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formFatturazione.fcf.$invalid && !formFatturazione.fcf.$pristine }">
			    				<label class="control-label" for="fcf">Codice fiscale *</label>
			    				<input type="text" class="form-control" name="fcf" ng-model="user.user_metadata.fatturazione.cf" placeholder="es: DGTVFXXXXX5E324V" required>
			    			</div>	    					
	    				</div>	    				
	    			</div>
	    		</form>

	    		<!-- account -->

	    		<form name="formAccount" novalidate="" class="m-t-2" ng-show="!user.user_id && !toVerify">
	    			<h4 class="m-b">2. Crea un account </h4>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formAccount.mail.$invalid && !formAccount.mail.$pristine }">
			    				<label class="control-label" for="mail">Email *</label>
			    				<input id="mail" name="mail" type="email" class="form-control" ng-model="user.email" autocomplete="off" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formAccount.mail1.$invalid && !formAccount.mail1.$pristine || user.email && user.email != confermaEmail }">
			    				<label class="control-label" for="mail1">Conferma email * 
			    					<span class="text-success" ng-show="user.email && user.email == confermaEmail"><i class="fa fa-check"></i></span>
			    					<span class="text-danger" ng-show="user.email && user.email != confermaEmail"><i class="fa fa-times"></i></span>
			    				</label>
			    				<input id="mail1" type="email" name="mail1" class="form-control" ng-model="confermaEmail" autocomplete="off" required>
			    			</div>	 	    					
	    				</div>	    				
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formAccount.password.$invalid && !formAccount.password.$pristine }">
			    				<label class="control-label" for="password">Password *</label>
			    				<input id="password" name="password" type="password" class="form-control" ng-model="user.password"  autocomplete="off" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formAccount.password1.$invalid && !formAccount.password1.$pristine || user.password && user.password != confermaPassword}">
			    				<label class="control-label" for="password1">Conferma password * 
			    					<span class="text-success" ng-show="user.password && user.password == confermaPassword"><i class="fa fa-check"></i></span>
			    					<span class="text-danger" ng-show="user.password && user.password != confermaPassword"><i class="fa fa-times"></i></span>
			    				</label>
			    				<input id="password1"  name="password1"  type="password" class="form-control" ng-model="confermaPassword" autocomplete="off" required>
			    			</div>	 	    					
	    				</div>	    				
	    			</div>

	    		</form>
				
	    			<div class="row m-t-2 animated bounce" ng-if="toVerify">
	    				<div class="col-md-12">
	    					<div class="alert alert-info">
	    						Ti abbiamo inviato una mail per verificare il tuo account. Una volta completata la procedura potrai effettuare l'accesso e proseguire con l'acquisto.<br />
	    						Se utilizzi gmail, controlla anche le tab <em>"Promozioni"</em> o <em>"Aggiornamenti"</em><br />
	    					</div>
	    				</div>
	    			</div>

		    		<div class="row m-t-2" ng-if="!toVerify">
		    			<div class="col-md-6 text-left">
		            		<div class="porcess-checkout pull-left">
		                        <a href="/carrello" class="process" style="margin: 0">Indietro</a>
		                    </div>
		    			</div>
		    			<div class="col-md-6 text-right">
		            		<div class="porcess-checkout">
		            			<strong class="text-danger" ng-show="!canPay()"><i class="fa fa-warning"></i> Completa e verifica tutti i campi prima di procedere</strong>

		                        <a href="" ng-show="canPay()" class="process" ng-click="vaiPagamento()">
		                        	<span ng-if="!savingUser">
		                        		<span ng-if="user.user_id">Vai al pagamento</span>
		                        		<span ng-if="!user.user_id">Crea un account</span>
		                        	</span>
		                        	<span ng-if="savingUser"><i class="fa fa-refresh fa-spin"></i> Attendere...</span>
		                        </a>

		                    </div>	    				
		    			</div>
		    		</div>	

	    	</div>
	    	<div class="col-md-12" ng-show="!cart.prodotti.length">
	    		Il carrello è vuoto
	    	</div>
	    </div>
	</section>
	<!--/step2 -->
</div>