


<div class="checkout" ng-controller="carrello" ng-if="cart.$resolved">

    <section class="shop_banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="shop_banner_text">
                       <div class="table_cell text-center">
                            <h2>Riepilogo</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="banner_bottom_area  m-t-2 m-b-2" ng-if="cart.prodotti.length">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="single_banner_bottom text-center">
                        <p>01</p>
                        <h4>Carrello</h4>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single_banner_bottom text-center">
                        <p>02</p>
                        <h4>Consegna</h4>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single_banner_bottom text-center">
                        <p>03</p>
                        <h4>Pagamento</h4>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="single_banner_bottom text-center active">
                        <p class="active">04</p>
                        <h4>Riepilogo</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<section class="shop_page_area  m-t m-b" ng-if="!waitingpaypal">
	    <div class="container">

	    	<div class="col-md-12" ng-if="cart.prodotti.length">
				<div class="row">
					<div class="col-md-6">
                        <h4 class="text-center">Spedizione <span ng-if="!cart.fattura">e fatturazione</span></h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>Nome</dt>
                            <dd ng-bind="user.user_metadata.nome"></dd>
                            <dt>Cognome</dt>
                            <dd ng-bind="user.user_metadata.cognome"></dd> 
                            <dt>Indirizzo</dt>
                            <dd ng-bind="user.user_metadata.indirizzo"></dd>               
                            <dt>N. Civico</dt>
                            <dd ng-bind="user.user_metadata.civico"></dd>                                                   
                            <dt>Cap</dt>
                            <dd ng-bind="user.user_metadata.cap"></dd>    
                            <dt>Città</dt>
                            <dd ng-bind="user.user_metadata.citta"></dd>                                                     
                            <dt>Provincia</dt>
                            <dd ng-bind="user.user_metadata.provincia"></dd>
                            <dt>Telefono</dt>
                            <dd ng-bind="user.user_metadata.telefono"></dd>  
                            <dt>Codice fiscale</dt>
                            <dd ng-bind="user.user_metadata.cf"></dd>                              
                        </dl>
                        <div ng-if="cart.fattura" class="m-t-2">
                            <h4 class="text-center m-t-2">Fatturazione</h4>
                            <hr />   
                            <dl class="dl-horizontal">
                                <dt>Nome / Ragione sociale</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.nome"></dd>
                                <dt>Indirizzo</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.indirizzo"></dd>   
                                <dt>N. Civico</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.civico"></dd>   
                                <dt>Cap</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.cap"></dd>    
                                <dt>Città</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.citta"></dd>   
                                <dt>Provincia</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.provincia"></dd>                                                              
                                <dt>P.Iva</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.iva"></dd>     
                                <dt>Codice fiscale</dt>
                                <dd ng-bind="user.user_metadata.fatturazione.cf"></dd>                              
                            </dl>                                                    
                        </div>

					</div>
					<div class="col-md-6">
						<div class="your_order">
                            <h2 class="order_title">Il tuo ordine</h2>
                            <div class="order_table">
                                <ul>
                                    <li>
                                        <h5>Prodotti</h5>
                                        <p ng-repeat="p in cart.prodotti">
                         
                                        	<span ng-bind="p.nome"></span> <br />
                                            art.<em ng-bind="p.codice"></em>  - qta. <strong ng-bind="p.qta"></strong><br />
                                            <em ng-if="p.variante">variante: [[p.variante.nome]]</em>
                                            <span ng-bind="(p.prezzo * p.qta | euro)"></span>
                                        </p>
                                    </li>
                                    <li>
                                        <h5>Totale <span ng-bind="(cart.subTotale | euro)"></span></h5>
                                    </li>
                                    <!--li>
                                        <h5>Promo natalizia (sconto del 20%) <span ng-bind="'-'+(cart.scontoNatalizio | euro)"></span></h5>
                                    </li-->
                                    <li ng-if="cart.subTotale >= 1500">
                                    	<h5>Sconto 10%  <span ng-bind="'-'+(cart.sconto10 | euro)"></span></h5>
                                    </li>
                                    <li>
                                        <h5>Spede di spedizione <span ng-bind="(cart.speseSpedizione | euro)"></span></h5>
                                        
                                        <!--h5><del>Spese di spedizione</del> (Promo natalizia) <span>Omaggio</span></h5-->
                                        
                                    </li>
                                    <li>
                                    	<h5>Totale imponibile <span ng-bind="(cart.imponibile | euro)"></span></h5>
                                    </li>
                                    <li>
                                        <h5>Iva 22% <span ng-bind="(cart.totaleIva | euro)"></span></h5>
                                    </li>
                                    <li class="order_total_purple">
                                    	<h5>Totale ordine <span ng-bind="(cart.totale | euro)"></span></h5>
                                    </li>
                                    <li>
                                        <h2 class="order_title">Metodo di pagamento</h2>
                                        <div ng-bind="cart.pagamento"></div>                                                                               
                                    </li>
                                </ul>
                            </div>
                        </div>						
					</div>
				</div>
	    	



			<div class="col-md-12">
	    		<div class="row m-t-2">
	    			<div class="col-md-6 text-left">
	            		<div class="porcess-checkout pull-left">
	                        <a href="/carrello-pagamento" class="process" style="margin: 0">Indietro</a>
	                    </div>
	    			</div>
	    			<div class="col-md-6 text-right">
	      
	                        <a href="" ng-click="completaOrdine()" class="addToCart" style="margin: 0">
                                    <span ng-if="!saving && cart.pagamento !== 'carta'">Completa ordine</span>
                                    <span ng-if="!saving && cart.pagamento == 'carta'">Paga ora</span>
                                    <span ng-if="saving"><i class="fa fa-refresh fa-spin"></i> Attendere...</span>
                            </a>

                            <form name="pagamentoform" id="pagamentoform" action="ordine-completato" method="post"></form>

                            <form name="paypalform" id="paypalform" action="{{paypal.url}}" method="post" class="ordina" target="_self">
                                <input type="hidden" id="paypalform-ordine" name="custom" value=""/>
                                <input type="hidden" name="upload" value="1">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="image_url" value="{{paypal.logo}}">
                                <input type="hidden" name="return" value="{{paypal.return}}">
                                <input type="hidden" name="rm" value="2"/>
                                <input type="hidden" name="business" value="{{paypal.email}}">
                                <input type="hidden" name="currency_code" value="EUR">
                                <input type="hidden" name="country" value="IT">
                                <input type="hidden" name="lc" value="IT">
                                <input type="hidden" name="no_note" value="1">
                                <input type="hidden" name="address_override" value="1">
                                <input type="hidden" name="first_name" value="{{paypal.anagrafica.nome}}">
                                <input type="hidden" name="last_name" value="{{paypal.anagrafica.cognome}}">
                                <input type="hidden" name="address1" value="{{paypal.anagrafica.indirizzo}}">
                                <input type="hidden" name="city" value="{{paypal.anagrafica.citta}}">
                                <input type="hidden" name="state" value="{{paypal.anagrafica.provincia}}">
                                <input type="hidden" name="zip" value="{{paypal.anagrafica.cap}}">
                                <input type="hidden" name="email" value="{{paypal.anagrafica.email}}">

                                {{#cart.prodotti}}

                                <input type="hidden" name="item_name_{{add @index 1}}" value="{{ nome }} {{ variante.nome }}">
                                <input type="hidden" name="item_number_{{add @index 1}}" value="{{ codice }}">
                                <input type="hidden" name="quantity_{{add @index 1}}" value="{{ qta }}">
                                <input type="hidden" name="amount_{{add @index 1}}" value="{{ prezzo }}">
                                {{/cart.prodotti}}

                                {{#gt cart.speseSpedizione 0}}
                                <input type="hidden" name="handling_cart" value="{{cart.speseSpedizione}}">
                                {{/gt}}    

                                {{#gt cart.sconto 0}}
                                <input type="hidden" name="discount_amount_cart" value="{{cart.sconto}}">
                                {{/gt}} 

                                <input type="hidden" name="tax_cart" value="{{cart.totaleIva}}">
                                                                            
                            </form>
	                  
	    			</div>
	    		</div>					
			</div>
             <div class="col-md-12" ng-if="!cart.prodotti.length">
                    Il carrello è vuoto
            </div>
        </div>
	    </div>
	</section>

    <section class="shop_page_area  m-t m-b" ng-if="waitingpaypal">
        <div class="container">
            <div class="col-md-12 text-center">
                <h3><i class="fa fa-spinner fa-spin"></i> L'ordine è stato inviato, ti stiamo portando su Paypal.</h3>
            </div>
        </div>
    </section>
</div>