<div class="checkout" ng-controller="carrello" ng-if="cart.$resolved">
	
	<section class="shop_banner">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <div class="shop_banner_text">
	                   <div class="table_cell text-center">
	                        <h2>Pagamento</h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<div class="banner_bottom_area  m-t-2 m-b-2" ng-if="cart.prodotti.length">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>01</p>
	                    <h4>Carrello</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>02</p>
	                    <h4>Consegna</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center active">
	                    <p class="active">03</p>
	                    <h4>Pagamento</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>04</p>
	                    <h4>Riepilogo</h4>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<section class="shop_page_area  m-t m-b">
	    <div class="container">
	    	<div class="col-md-12">
					<h1>Pagamento</h1>
	    	</div>
			
			<div class="col-md-12 visible-xs m-t">
				<div class="alert alert-info">
					<p>Scegli una delle 3 tpologie di pagamento sotto riportate</p>
				</div>
			</div>

	    	<div class="col-md-12" ng-if="cart.prodotti.length">
	    		<div class="row m-t-2 pagamento">
	    			<div class="col-md-4">
	    				<div class="pagamento-box" ng-click="vaiRiepilogo('contrassegno')">
	    					<h4>Contrassegno</h4>
	    					<hr class="m-b-2" />
	    					<p>Tramite assegno bancario intestato a <strong>Eurovetrina di Paolo Giudici</strong> o contanti (non sono previste commissioni aggiuntive)</p>
	    				</div>
	    			</div>
	    			<div class="col-md-4">
	    				<div class="pagamento-box" ng-click="vaiRiepilogo('bonifico')">
		    				<h4>Bonifico bancario</h4>
		    				<hr class="m-b-2" />
		    				<p>Tramite bonifico bancario anticipato</p>
		    				<ul>
		    					<li>Banca Intesa Sanpaolo</li>
									<li>Agenzia Sesto San Giovanni (MI)</li>
									<li>ABI 03069</li>
									<li>CAB 20705</li>
									<li>IBAN: IT 98Z0306920705100000014526</li>
									<li>CIN: X</li>
									<li>SWIFT ADDRESS: BCITITMM</li>
		    				</ul>
		    				<br />
		    				<small>L'ordine si ritiene confermato solo dopo aver ricevuto l'accredito da parte della banca. Il pagamento dovrà avvenire entro 5 giorni dalla data dell'ordine, oltrepassata tale data L'ordine è da ritenersi annullato.</small>
	    				</div>
	    			</div>
	    			<div class="col-md-4">
	    				<div class="pagamento-box" ng-click="vaiRiepilogo('carta')">
		    				<h4>Carta di credito</h4>
		    				<hr class="m-b-2" />
		    				<img src="/frontend/img/cart/paypal.png" alt="">
	    				</div>
	    			</div>
	    		</div>
	    	</div>

			<div class="col-md-12">
	    		<div class="row m-t-2">
	    			<div class="col-md-6 text-left">
	            		<div class="porcess-checkout pull-left">
	                        <a href="/carrello-consegna" class="process" style="margin: 0">Indietro</a>
	                    </div>
	    			</div>

	    			<div class="col-md-6 text-right">

	                    </div>
	    			</div>

	    		</div>					
			</div>
	    </div>
	   	<div class="col-md-12" ng-if="!cart.prodotti.length">
	    		Il carrello è vuoto
	    </div>
	</section>
	<!-- step 3 -->
</div>