<div class="checkout" ng-controller="carrello" ng-if="cart.$resolved">

	<section class="shop_banner">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <div class="shop_banner_text">
	                   <div class="table_cell text-center">
	                        <h2>Carrello</h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<div class="banner_bottom_area  m-t-2 m-b-2" ng-if="cart.prodotti.length">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center active">
	                    <p class="active">01</p>
	                    <h4>Carrello</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>02</p>
	                    <h4>Consegna</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>03</p>
	                    <h4>Pagamento</h4>
	                </div>
	            </div>
	            <div class="col-xs-3">
	                <div class="single_banner_bottom text-center">
	                    <p>04</p>
	                    <h4>Riepilogo</h4>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<section class="shop_page_area  m-t m-b">
	    <div class="container">
	        <div class="row" ng-if="cart.prodotti.length">

            	<div class="col-md-12">
            		<div class="porcess-checkout m-b">
                    <a href="" class="shopping" ng-click="emptyCart()">Svuota il carrello</a>
                </div>
            	</div>

	            <div class="col-xs-12 visible-xs">
	            	<div class="alert alert-info"> <p>Scorri la tabella verso destra per visualizzare tutte le informazioni</p></div>
	            </div>

	            <div class="col-md-12">
      					<div class="cart_list table-responsive">
                    <table class="table_cart table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="product">Foto</th>
                                <th class="description">Articolo</th>
                                <th class="unit_price">Prezzo unitario</th>
                                <th class="quantity">Quantità</th>
                                <th class="value">Subtotale</th>
                                <th class="action">Elimina</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cart.prodotti track by $index">
                                <td class="product_img"><a ng-href="[[item.url]]"><cloudinary id="[[item.immagine]]"
                            transformation="h_120,w_90,c_fill,f_auto,q_auto,g_auto"></cloudinary></a></td>
                                <td class="product_des">
                                    <h3 ng-bind="item.nome"></h3>
                                    <div class="text-center">art. <span ng-bind="item.codice"></span></div>
                                    <div class="text-center" ng-if="item.variante"><em>variante <span ng-bind="item.variante.nome"></span></em></div>
                                </td>
                                <td class="u_price" ng-bind="(item.prezzo | euro)"></td>
                                <td class="p_quantity">
                                  <input type="number" class="form-control" min="1" ng-model="item.qta" ng-change="cambiaQta(item.qta)">
                                </td>
                                <td class="p_value" ng-bind="(item.qta * item.prezzo | euro)"></td>
                                <td class="p_action">
                                    <a href="" ng-click="cartRemove($index)"><i class="fa fa-times fa-lg"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            	</div>

 				<div class="col-md-12 m-t" ng-if="!validOrder()">
 					<div class="alert alert-warning">Ordine minimo € 100.</div>
 				</div>

 				<div class="col-md-12" ng-if="validOrder()">
					<div class="row">
	            <div class="col-sm-6 col-xs-12">

							<!--
	                        <div class="shipping_total">
	                            <h2>Calcola le spese di spedizione</h2>

                            	<div ng-if="subTotale() < 500">
                            	<div ng-if="subTotale() < 500">

	                            	<p> Codice postale *<br>
	                                    <input type="text" class="form-control" ng-model="cart.zip" required />
	                                    <small>È necessario inserire il CAP per calcolare le spese di spedizione e proseguire con l'ordine</small>
	                                </p>
	                                <p>
	                                    <input class="update_total" type="submit" value="Calcola" ng-click="shipCalc()" ng-if="cart.zip && cart.zip.length === 5" >
	                                </p>

                            	</div>

	                    		<div class="alert alert-success m-t" ng-if="subTotale() >= 500">
		                    		Spese di spedizione gratuite per importi superiori a 500€
		                    	</div>

	                        </div-->
	                    </div>
	                    <div class="col-sm-6 col-xs-12">
	                        <div class="shipping_total" ng-if="validOrder()">
	                            <h2>Totale</h2>
	                            <p ng-if="subTotale() >= 1500">Hai diritto a uno sconto del 10% perché l'ordine supera i 1500€ !</p>
	                            <div class="mini_table">
	                                <table class="table-bordered">
	                                    <tbody>
		                                    <tr>
		                                        <td>Totale</td>
		                                        <td class="text-right p-r" ng-bind="(subTotale() | euro)"></td>
		                                    </tr>
		                                    <!--tr>
		                                        <td>Promo natalizia (sconto del 20%)</td>
		                                        <td class="text-right p-r">-<span ng-bind="(scontoNatalizio() | euro)"></span></td>
		                                    </tr-->
		                                    <tr ng-if="subTotale() >= 1500">
		                                        <td>Sconto 10%</td>
		                                        <td class="text-right p-r">-<span ng-bind="(sconto10() | euro)"></span></td>
		                                    </tr>
		                                    <tr>
		                                        <td><!--del-->Spese di spedizione<!--/del (Promo natalizia) --></td>
		                                        <td class="text-right p-r"><span ng-bind="(cart.speseSpedizione | euro)"></span> <!--Omaggio--></td>
		                                    </tr>
		                                    <tr>
		                                        <td>Totale imponibile</td>
		                                        <td  class="text-right p-r" ng-bind="(imponibile() | euro)"></td>
		                                    </tr>
		                                    <tr>
		                                        <td>Iva 22%</td>
		                                        <td  class="text-right p-r" ng-bind="(totaleIva() | euro)"></td>
		                                    </tr>
		                                    <tr>
		                                        <td><strong>Totale ordine</strong></td>
		                                        <td class="purple_total text-right p-r" ng-bind="(totale() | euro)"></td>
		                                    </tr>
	                                	</tbody>
	                                </table>
	                            </div>
	                        </div>


	                    </div>
	                </div>
 				</div>


    			<div class="col-md-6 m-t-2 text-left">
            		<div class="porcess-checkout pull-left">
                        <a href="" ng-click="continuaShopping()" class="shopping" style="margin: 0">Continua gli acquisti</a>
                    </div>
    			</div>
    			<div class="col-md-6 m-t-2 text-left">
            		<div class="porcess-checkout">
                        <a href="" class="process" ng-if="validOrder()" ng-click="checkout()">
                        	<span ng-if="!saving">Avanti</span>
                        	<span ng-if="saving"><i class="fa fa-refresh fa-spin"></i> Attendere...</span>
                        </a>
                    </div>
    			</div>



	        </div>

	        <div class="row" ng-if="!cart.prodotti.length">
	            <div class="col-md-12">
	            	Il carrello è vuoto
            	</div>
	        </div>

	    </div>
	</section>
</div>



