<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area" style="min-height: 50vh;">
    <div class="container">
    	<div class="col-md-12 m-t-2 m-b-2">

    		<div class="row">
    			<div class="col-md-6">
					<a href="http://www.calameo.com/read/0020821800c8d6349c225" target="_blank" rel="noopener">
						<img src="{{cloudinary 'eurovetrina_ecommerce_prod/ecatalogue/e-catalogue_2017' 'w_500,f_auto,q_auto,c_fill,g_auto' }}" alt="e-catalogue Eurovetrina Espositori">
					</a>    				
    			</div>
    			<div class="col-md-6">
					 <p style="font-size: 16px;">
					    <a style="text-decoration: none; color: #666;" href="http://www.calameo.com/read/002082180b7d7f168b401?authid=bjWl8UOOx7Vk" target="_blank" rel="noopener"><br>

							{{#is lang 'it'}}
					        	Sfoglia le pagine del catalogo da qualsiasi <br>
					        	smartphone, tablet o pc, <br>
					        	seleziona il prodotto di tuo interesse <br>
					        	e leggi la scheda prodotto sul nostro sito.<br></a>

							{{else}}
					           Browse the pages of the catalog from <br>
					           smartphone, tablet or PC, <br>
					           select the products of your interest <br>
					           and read the product details on our site.<br>

							{{/is}}
						
					</p>  

    			</div>
    		</div>

    	</div>
    </div>
</section>

