<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{nome}}</h2>
                        {{#if descrizione}}
                            <p>{{descrizione}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area section_padding_4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">    
                    {{#prodotti}}
						{{>frontend/categoria-prodotto}}
                    {{/prodotti}}
                </div>
            </div>
            {{#gt pages 0}}
            <div class="row">
                <div class="col-xs-12">
                    <div class="pagination text-center">
                        <ul class="page_no">
                            {{#repeat pages}}
                                <li{{#is @index ../page }} class="active"{{/is}}><a href="{{../url}}?page={{@index}}">{{add @index 1}}</a></li>
                            {{/repeat}}                    
                        </ul>
                    </div>
                </div>
            </div>
            {{/gt}}
        </div>
    </div>        
</section>