<section class="digital_area_twenty">
	<div class="container">
		<div class="row">
		{{#categorie}}
			<div class="col-md-3 col-sm-3 col-xs-6">
			    <div class="single_trend">
			        <div class="single_trend_item fixed_small">
			            <div class="single_trend_img">
			                <a href="/{{url}}">
			                    <img class="primary_image" src="{{cloudinary immagine 'w_270,h_270,f_auto,q_auto,c_fill,g_auto' }}" alt="{{nome}}">
			                </a>
			            </div>
			            <div class="single_trend_label text-center">    
			                <a href="/{{url}}"><h3>{{nome}}</h3></a>
			            </div>
			        </div>
			    </div>                				
			</div>
		{{/categorie}}			
		</div>
	</div>
</section>
