<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area" style="min-height: 50vh;">
    <div class="container">
    	<div class="col-md-12 m-t-2 m-b-2">


    		<div class="row">
    			<div class="col-md-3">
					<div class="single_port">
		                <a href="#"><img src="{{cloudinary 'chisiamo-foto5_pw98ef' 'w_300,h_300,f_auto,q_auto,c_fill,g_auto' }}" alt=""></a>
		                <div class="port_hover">
		                    <div class="port_table">
		                        <div class="port_cell">
		                            <div class="port_details">
		                                <div class="port_link">
		                                    <a href="{{cloudinary 'chisiamo-foto5_pw98ef' 'w_800' }}" data-lightbox="roadtrip"><i class="fa fa-eye"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>    				
    			</div>
    			<div class="col-md-3">
					<div class="single_port">
		                <a href="#"><img src="{{cloudinary 'chisiamo-foto4_ib0i0a' 'w_300,h_300,f_auto,q_auto,c_fill,g_auto' }}" alt=""></a>
		                <div class="port_hover">
		                    <div class="port_table">
		                        <div class="port_cell">
		                            <div class="port_details">
		                                <div class="port_link">
		                                    <a href="{{cloudinary 'chisiamo-foto4_ib0i0a' 'w_800' }}" data-lightbox="roadtrip"><i class="fa fa-eye"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>    				
    			</div>
    			<div class="col-md-3">
					<div class="single_port">
		                <a href="#"><img src="{{cloudinary 'chisiamo-foto3_gchcud' 'w_300,h_300,f_auto,q_auto,c_fill,g_auto' }}" alt=""></a>
		                <div class="port_hover">
		                    <div class="port_table">
		                        <div class="port_cell">
		                            <div class="port_details">
		                                <div class="port_link">
		                                    <a href="{{cloudinary 'chisiamo-foto3_gchcud' 'w_800' }}" data-lightbox="roadtrip"><i class="fa fa-eye"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>    				
    			</div>
    			<div class="col-md-3">
					<div class="single_port">
		                <a href="#"><img src="{{cloudinary 'chisiamo-foto1_i1o83u' 'w_300,h_300,f_auto,q_auto,c_fill,g_auto' }}" alt=""></a>
		                <div class="port_hover">
		                    <div class="port_table">
		                        <div class="port_cell">
		                            <div class="port_details">
		                                <div class="port_link">
		                                    <a href="{{cloudinary 'chisiamo-foto1_i1o83u' 'w_800' }}" data-lightbox="roadtrip"><i class="fa fa-eye"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>    				
    			</div>
    		</div>


			{{#is lang 'it'}}

			<p>L’azienda nasce nel 1977 e fin dall’inizio si è occupata della produzione e vendita di segnaprezzi componibili ed espositori per vetrine e negozi. Una presenza trentennale sul mercato, specialmente nell’ambito di fiere nazionali ed internazionali di settore, ha permesso di far conoscere e commercializzare i prodotti in Italia e all’estero, creando così una rete di vendita molto ampia, che ogni anno tende ad aumentare.</p></p> Grazie alla varietà degli articoli e all’ottimo rapporto qualità-prezzo, si possono soddisfare costantemente le aspettative e le necessità dei clienti. Il catalogo Eurovetrina offre più di 1500 articoli che permettono di risolvere ogni problema di esposizione e presentazione di merce nelle vetrine ed all’interno dei negozi.</p>

			{{else}}

			<p>The company was born in 1977, and since the very beginning has always been focused in the production and sale of modular price tags and displays for shops and shop windows. With thirty years of experience in the market, especially with national and international exhibitions, we conveyed our products both inside and outside of Italy, building a sales network growing every year. We can constantly satisfy our customers' needs and expectations thanks to the variety, quality and price of our products.
			Eurovetrina's catalgoue now offers more than 1500 items, that can answer to every exposition and presentation need for shops and shop windows.</p>

			{{/is}}			
    	</div>
    </div>
</section>
