<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area" style="min-height: 50vh;">
    <div class="container">
    	<div class="col-md-12 m-t-2 m-b-2">


			{{#is lang 'it'}}
			
			<h3 class="m-t-2">Condizioni di vendita</h3>

			<ul>
				{{!-- <li>Ordine minimo € 100.</li> --}}
				<li>I prezzi indicati si intendono IVA esclusa</li>
				<li>Tempi di consegna al corriere: 7 giorni se la merce è disponibile a magazzino, se non disponibile vi verrà comunicata una data di consegna al momento della conferma dell'ordine.</li>
			</ul>

			<h3 class="m-t-2">Modalità di acquisto</h3>
			<ul>
				Per tutti gli ordini il prezzo dell'imballaggio e del trasporto è di € 12. <br>
				{{!-- Ordine minimo € 100.<br>				 --}}
				Per ordini superiori a 1500 euro sconto del 10%</li>
				<li><strong>Inviando una mail a:</strong> <a href="mailto: eurovetrina@tiscali.it">eurovetrina@tiscali.it</a></li>
				<li><strong>Ordine telefonico:</strong> 02 26700995</li>
			</ul>

			<h3 class="m-t-2">Metodo di pagamento</h3>
			<ul>
				<li>Contrassegno: Tramite assegno bancario intestato a <strong>Eurovetrina di Paolo Giudici</strong> o contanti (non sono previste commissioni aggiuntive)</li>
				<li>tramite bonifico bancario anticipato
		    				<ul>
		    					<li>Banca Intesa Sanpaolo</li>
									<li>Agenzia Sesto San Giovanni (MI)</li>
									<li>ABI 03069</li>
									<li>CAB 20705</li>
									<li>IBAN: IT 98Z0306920705100000014526</li>
									<li>CIN: X</li>
									<li>SWIFT ADDRESS: BCITITMM</li>
		    				</ul>					
				</li>
				<li>Carta di credito</li>
			</ul>
		    				<small>L'ordine si ritiene confermato solo dopo aver ricevuto l'accredito da parte della banca. Il pagamento dovrà avvenire entro 5 giorni dalla data dell'ordine, oltrepassata tale data L'ordine è da ritenersi annullato.</small>

		    	<h3 class="m-t-2">Spedizioni</h3>
					<p>Le spedizioni verranno effettutate con il corriere espresso <strong>Bartolini</strong>. Tempi di consegna 2/3 giorni (escluse le località disagiate e le isole). <br/>
					Le spedizioni vengono effettuate solo per l'Italia, per spedizioni all'estero contattateci.</p>

					<h3 class="m-t-2">Istruzioni per la pulizia dei prodotti in Plexiglas</h3>
					<p>Non pulire con alcool, utilizzare acqua tiepida e panno morbido.</p>


			{{else}}


			{{/is}}
		
    	</div>
    </div>
</section>
