<script> var user = {{{json user}}} </script>

<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area" style="min-height: 50vh;" ng-controller="contatti">
    <div class="container">
    	<div class="col-md-12 m-t-2 m-b-3">
			
			{{#is lang 'it'}}
				
				<p class="lead text-center">
				Desideri avere maggiori informazioni? <br>
				Non esitare a contattarci. Ti risponderemo nel più breve tempo possibile.</p>
			
			{{else}}

				<p>Do you want more information? <br>
				Do not hesitate to contact us. We will get back to you as soon as possible.</p>

			{{/is}}	

		</div>

		<div class="col-md-8">
			<form name="formContatto" novalidate="" ng-if="!inviato">

				{{#is lang 'it'}}

				<p>Compila il modulo, ti contatteremo al più presto.</p>

				{{else}}

				<p>Fill the form to require information</p>

				{{/is}}	
				<div class="form-group">
					<label for="nome">{{i18n 'nome'}}*</label>
					<input type="text" name="nome" id="nome" ng-model="contact.nome" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="cognome">{{i18n 'cognome'}}*</label>
					<input type="text" name="nome" id="cognome" ng-model="contact.cognome" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="email">Email*</label>
					<input type="email" name="email" id="email" ng-model="contact.email" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="telefono">{{i18n 'telefono'}}*</label>
					<input type="tel" name="telefono" id="telefono" ng-model="contact.telefono" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="messaggio">{{i18n 'messaggio'}}*</label>
					<textarea ng-model="contact.messaggio" class="form-control" rows="5" required></textarea>
				</div>
				{{#is lang 'it'}}
					<label for="privacy">
						<input type="checkbox" ng-model="privacy" required> Dichiaro di aver preso visione dell’<a href="https://www.iubenda.com/privacy-policy/498002" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy "> Informativa</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> per il trattamento e diffusione dei dati personali.
					</label>
				{{else}}
					<label for="privacy">
						<input type="checkbox" ng-model="privacy" required> I declare that I have read the <a href="https://www.iubenda.com/privacy-policy/11697245" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy "> Information</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script> for the processing and dissemination of personal data.
					</label>
				{{/is}}	

				
				<div class="m-t-2">
					<a href="" class="btn btn-primary" ng-click="invia()" ng-disabled="formContatto.$invalid">{{i18n 'invia'}}</a>
				</div>

			</form>		

			<div class="alert alert-success" ng-if="inviato">
				{{i18n 'graziecontatto'}}
			</div>
		</div>

		<div class="col-md-4 m-t-3 text-center">
			tel. 02 2670 0995 <br>
			fax 02 2730 1627<br>
			e-mail: eurovetrina@tiscali.it
		</div>



    </div>
</section>
