<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area" style="min-height: 50vh;">
    <div class="container">
    	<div class="row m-t-2 m-b-2">
    		<div class="col-md-4">
				{{#is lang 'it'}}

				<p>via Cascina Crivella 18 <br>
				20055 Vimodrone (Milano) - Italy<br>
				tel.: 02 2670 0995 <br>
				fax: 02 2730 1627<br>
				e-mail: <a href="mailto:eurovetrina@tiscali.it">eurovetrina@tiscali.it</a><br><br><br>

				Non tutti i navigatori riconoscono <br>
				Via Cascina Crivella. <br>
				In alternativa inserire:<br>
				via Treves, Vimodrone<br>
				oppure<br>
				via Carducci, Cologno Monzese<br><br></p>

				{{else}}

				<p>20055 Vimodrone (MI) - Italy - Via Cascina Crivella, 18<br>
				phone: 02/26.70.09.95 - fax number: 02/27.30.16.27<br><a href="http://www.eurovetrina.it">www.eurovetrina.it</a><br>
				e-mail: <a href="mailto:eurovetrina@tiscali.it">eurovetrina@tiscali.it</a><br><br><br>
				For the GPS:<br>
				Via Treves, Vimodrone<br>
				or<br>
				Via Carducci, Cologno Monzese<br><br></p>

				{{/is}}
	    	</div>

	    	<div class="col-md-8">
				<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.it/maps/ms?msa=0&amp;msid=202110718027063510663.0004cbb13ca23960aeda4&amp;ie=UTF8&amp;t=m&amp;ll=45.526795,9.303038&amp;spn=0.006013,0.020363&amp;z=16&amp;iwloc=0004cbb1443e4419dbd2b&amp;output=embed"></iframe>		
	    	</div>
    	</div>

    </div>
</section>
