<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area" style="min-height: 50vh;">
    <div class="container">
    	<div class="col-md-12 m-t-2 m-b-2">

			{{#is lang 'it'}}

			<p> Ragione sociale: Eurovetrina di Paolo Giudici <br>
				Sede legale: via Cascina Crivella 18, 20055 Vimodrone (MI) <br>
				Sede operativa: via Cascina Crivella 18, 20055 Vimodrone (MI) <br>
				Recapiti telefonici: 02 2670 0995 <br>
				Codice Fiscale: GDCPLA45P14B156M <br>
				P.IVA: IT00247610967 <br>
</p>

			{{else}}

			<p> Business name: Eurovetrina di Paolo Giudici <br>
				Registered office: via Cascina Crivella 18, 20055 Vimodrone (MI) <br>
				Head office: via Cascina Crivella 18, 20055 Vimodrone (MI) <br>
				Phone numbers: 02 2670 0995 <br>
				Fiscal Code: GDCPLA45P14B156M <br>
				VAT number: IT00247610967 <br>
</p>

			{{/is}}			
    	</div>
    </div>
</section>
