


<div class="checkout">

    <section class="shop_banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="shop_banner_text">
                       <div class="table_cell text-center">
                            <h2><i class="fa fa-check"></i> Ordine completato!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section class="shop_page_area" style="min-height: 50vh;">
	    <div class="container">
	    	<div class="col-md-12 m-t-2 m-b-2">
					<h3 class="text-center">Grazie per aver acquistato su Eurovetrina!</h3>
                    <p class="text-center m-t-2">Ti abbiamo inviato una mail con il riepilogo del tuo ordine.</p>
                    <p class="text-center m-t-2">
                        <a href="/" class="addToCart">Torna alla homepage</a>
                    </p>
	    	</div>
	    </div>
	</section>


</div>