<script type="application/ld+json">
    {
        "@context":"https:\/\/schema.org\/",
        "@type":"Product",
        "name":"{{nome}} - {{codice}}",
        "category":"{{categoria_nome}}",
        "logo":"https:\/\/www.eurovetrinaespositori.it\/frontend\/img\/logo\/eurovetrina_logo.svg",
        "sku":"{{codice}}",
        "mpn": "{{codice}}",
        "brand":{
            "@type":"Brand",
            "name":"Eurovetrina"
        },
        "url":"https:\/\/www.eurovetrinaespositori.it\/{{url}}",
        "image":"{{cloudinary immagine 'w_340,h_340,f_auto,q_auto,c_pad' }}",
        "description":"{{ nome }} - {{codice}}",
        "offers":{
            "type":"Offer",
            "priceCurrency":"EUR",
            "price":"{{prezzo}}",
            "itemCondition":"http:\/\/schema.org\/NewCondition",
            "availability":"http:\/\/schema.org\/InStock",
            "seller":{
                "@type":"Organization",
                "name":"Eurovetrina"
            },
            "url":"https:\/\/www.eurovetrinaespositori.it\/{{url}}",
            "priceValidUntil":"2035-12-31"
        }
    }
</script>

<script> var prodotto = {{{json data}}} </script>

<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <div class="breadcrumbs text-center">
                            <ul>
                                <li><a href="{{#is lang 'it'}}/{{else}}{{lang}}{{/is}}">HOME</a></li>
                                <li><a href="{{categoria_url}}">{{categoria_nome}}</a></li>
                                <li>{{nome}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_padding_6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="product_img_tab clearfix">
                   <div class="product_main_img tab-content">
                   	   {{#immagini}}
	                       <div id="tab-{{@index}}" role="tabpanel"  class="p_tab_img{{#is @index 0}} active{{/is}}">

                              <a href="{{cloudinary this 'w_800,f_auto,q_auto,c_fill,g_auto' }}" data-lightbox="roadtrip"><img src="{{cloudinary this 'w_570,f_auto,q_auto,c_fill,g_auto' }}" alt=""></a>
   

	                       </div>                   	   		
                   	   {{/immagini}}
                   </div>
                   <div class="product_img_list">
                       <ul role="tablist">
                       		{{#immagini}}
							<li{{#is @index 0}} class="active"{{/is}}><a href="#tab-{{@index}}" role="tab" data-toggle="tab"><img src="{{cloudinary this 'w_570,h_718,f_auto,q_auto,c_fill,g_auto' }}" alt="{{../nome}}"></a></li>
                       		{{/immagini}}
                       </ul>
                   </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-controller="prodotto">

                <div class="product_detail">
                    <div class="product_title">
                        <h1>{{ nome }}</h1><br>
                    </div>       
                    <p>art. <span>{{codice}}</span></p>
                    <h4>
                       {{#apartire}}<span>A partire da: </span>{{/apartire}} {{euro prezzo}} <br /><small>Iva esclusa</small>
                    </h4>



                    <p class="detail">{{descrizione}}</p>

                    {{#is lang 'it'}}
                    <div>

                        <div class="row">
                      
                          <div class="col-md-8" ng-repeat="variante in prodotto.varianti">
                            <label for="variante-[[$index]]" ng-bind="variante.tipo"></label>
                            <select name="" id="variante-[[$index]]" class="form-control" ng-model="scelta.variante" ng-options='opzione as opzione.format for opzione in variante.opzioni' ng-change="selezioneVariante()">
                              <option value="">- Scegli - </option>
                            </select>                            
                          </div>

                           <div class="col-md-4">
                            <label for="qta">Quantità</label>
                            <input type="number" id="qta" class="form-control" min="0" ng-model="scelta.qta">
                          </div>                         
                        </div>

                      <br />
                      <p><a ng-disabled="addToCartDisabled()" href="" title="Aggiungi al carrello" class="addToCart" ng-click="addToCart()"><img src="/frontend/img/cart/shopping_cart.png" alt="cart">Aggiungi al carrello</a></p>                      
                    </div>
                    {{else}}
                      {{#varianti}}
                        <h3>{{tipo}}</h3>
                        <ul>
                        {{#opzioni}}
                          <li>{{nome}} ({{euro prezzo}})</li>
                        {{/opzioni}}
                        </ul>
                      {{/varianti}}
                    {{/is}}

        
                </div>
            

            </div>
        </div>
    </div>
</section>