<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{i18n 'haicercato'}}</h2>
                        <p>&laquo; {{chiave}} &raquo;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="shop_page_area  m-t m-b">
    <div class="container">
    	{{#if vuota}}
    	<div class="col-md-12 m-t-2">
			<div class="alert alert-warning">{{ i18n 'cercavuota'}}</div>
    	</div>
    	{{else}}
    	<div class="col-md-12 m-t-2">
			<h2>Risultati della ricerca</h2>

			{{#if hasresults}}
			<p  class="m-b-3">{{ i18n 'helpricerca' }}</p>
			{{#results}}
			<div class="row m-b-2">
				
					<div class="col-md-1">
						<a href="{{url}}"><img src="{{cloudinary immagine 'h_120,w_90,c_fill,f_auto,q_auto,g_auto' }}" alt="{{nome}}"></a>
					</div>
					<div class="col-md-11">
						<h4><a href="{{url}}">{{ nome }}</a></h4>
						<p>{{ i18n 'codice' }}: {{ codice }}</p>
						
						<p>{{ euro prezzo }}</p>

					</div>
				
			</div>
			{{/results}}
			{{else}}
			<div class="alert alert-warning">{{ i18n 'nessunrisultato'}}</div>
			{{/if}}
    	</div>    	
    	{{/if}}
   	</div>
</section>