<section class="shop_banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="shop_banner_text">
                   <div class="table_cell text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop_page_area" style="min-height: 50vh;">
    <div class="container">
    	<div class="col-md-12 m-t-2 m-b-2">


			<p> 
				<ul class="style-one">
					<li><a href="{{#is lang 'it'}}/index{{else}}/en/index{{/is}}">Home page</a></li>  
					<li><a href="{{#is lang 'it'}}/chi-siamo{{else}}/en/about-us{{/is}}">{{ i18n 'chisiamo' }}</a></li>  
                    <li><a href="{{#is lang 'it'}}/dovesiamo{{else}}/en/where-find-us{{/is}}">{{ i18n 'dovesiamo' }}</a></li>  
                    <li><a href="{{#is lang 'it'}}/contatti{{else}}/en/contacts{{/is}}">{{ i18n 'contatti' }}</a></li>  
                    <li><a href="{{#is lang 'it'}}/condizioni-di-vendita{{else}}/en/terms-and-conditions-sale{{/is}}">{{ i18n 'condizioni' }}</a></li>
                    <li><a href="{{#is lang 'it'}}/ecatalogue{{else}}/en/ecatalogue{{/is}}" rel="nofollow">E-catalogue</a></li>
                    <li class="cat_tl"><a href="{{#is lang 'it'}}/categorie{{else}}/en/categories{{/is}}">{{ i18n 'categorie' }}</a>
						<ul class="style-one">
							{{#categorie}}
							<li><a href="{{url}}">{{nome}}</a></li>
							{{/categorie}}
						</ul>
                    </li>
				</ul>
			</p>

    	</div>
    </div>
</section>
