<script> var user = {{{json session.passport.user}}} </script>
<div ng-controller="user">


	<section class="shop_banner">
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <div class="shop_banner_text">
	                   <div class="table_cell text-center">
	                        <h2 ng-bind="(user.user_metadata.nome +' '+user.user_metadata.cognome)"></h2>
	                        <p>{{session.passport.user.email}}</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="shop_page_area  m-t m-b">
	    <div class="container">
	    	<div class="col-md-12">

	    		<form name="formSpedizione" class="m-t-2" novalidate>
	    			<h4 class="m-b">Indirizzo di spedizione</h4>
					<p>Le spedizioni verranno effettutate con il corriere espresso <strong>Bartolini</strong>. Tempi di consegna 2/3 giorni (escluse le località disagiate). <br/>Le spedizioni vengono effettuate solo per l'Italia, Contattateci per spedizioni all'estero.</p>
	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="nome">Nome *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.nome" placeholder="es: Mario" required id="nome">
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="cognome">Cognome *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.cognome" placeholder="es: Rossi" required id="cognome">
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="cap" >CAP *</label>
			    				<input type="number" class="form-control" ng-model="user.user_metadata.cap" placeholder="es: 20131" id="cap" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="provincia">Provincia *</label>
			    				<select class="form-control" ng-model="user.user_metadata.provincia" ng-options="p.sigla as p.nome for p in province" id="provincia" required>
			    					<option value=""> - Seleziona - </option>
			    				</select>
			    			</div>	    					
	    				</div>
	    			</div>


	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="citta">Città *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.citta" placeholder="es: Milano" id="citta" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="indirizzo">Indirizzo *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.indirizzo" placeholder="es: Corso Buenos Aires" id="indirizzo" required>
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="civico">Numero civico *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.civico" placeholder="es: 21" id="civico" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="telefono">Telefono *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.telefono" placeholder="es: +23 345 52 34 234" id="telefono" required>
			    			</div>	   					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="cf">Codice fiscale *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.cf" placeholder="es: DGTVFXXXXX5E324V" id="cf" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.pec.$invalid && !formSpedizione.pec.$pristine }">
			    				<label class="control-label" for="pec">PEC</label>
			    				<input type="text" name="pec" class="form-control" ng-model="user.user_metadata.pec" id="pec">
			    			</div>
			    			<div class="form-group" ng-class="{'has-error': formSpedizione.sdi.$invalid && !formSpedizione.sdi.$pristine }">
			    				<label class="control-label" for="sdi">Codice SDI</label>
			    				<input type="text" name="sdi" class="form-control" ng-model="user.user_metadata.sdi" id="sdi">
			    			</div>	   					
	    				</div>
	    				<div class="col-md-12">
	    					<br />
	    					<label for="fattura">
	    						<input type="checkbox" ng-model="user.user_metadata.fattura" id="fattura" ng-change="aggiornaFatturazioneCarrello()"> Fattura ad un indirizzo differente
	    					</label>
	    				</div>
	    			</div>
	    		</form>
				
				<!-- fatturazione -->

	    		<form name="formFatturazione" class="m-t-2" ng-show="user.user_metadata.fattura" novalidate>
	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="rag">Nome e cognome / Rag. Sociale*</label>
			    				<input id="rag" type="text" class="form-control" ng-model="user.user_metadata.fatturazione.nome" placeholder="es: Marios Rossi/Azienda S.r.l." required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="nome">P.IVA *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.fatturazione.iva" placeholder="es: 108XXXXX158" required>
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="fcap">CAP *</label>
			    				<input id="fcap" type="number" class="form-control" ng-model="user.user_metadata.fatturazione.cap" placeholder="es: 20131" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="fprovincia">Provincia *</label>
			    				<select id="fprovincia" class="form-control" ng-model="user.user_metadata.fatturazione.provincia" ng-options="p.sigla as p.nome for p in province" required>
			    					<option value=""> - Seleziona - </option>
			    				</select>
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="fcitta">Città *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.fatturazione.citta" placeholder="es: Milano" id="fcitta" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="findirizzo">Indirizzo *</label>
			    				<input id="findirizzo" type="text" class="form-control" ng-model="user.user_metadata.fatturazione.indirizzo" placeholder="es: Corso Buenos Aires" required>
			    			</div>	    					
	    				</div>
	    			</div>

	    			<div class="row">
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="fcivico">Numero civico *</label>
			    				<input id="fcivico" type="text" class="form-control" ng-model="user.user_metadata.fatturazione.civico" placeholder="es: 21" required>
			    			</div>	    					
	    				</div>
	    				<div class="col-md-6">
			    			<div class="form-group">
			    				<label for="fcf">Codice fiscale *</label>
			    				<input type="text" class="form-control" ng-model="user.user_metadata.fatturazione.cf" placeholder="es: DGTVFXXXXX5E324V" required>
			    			</div>	    					
	    				</div>
	    			</div>
	    		</form>
				
				
	    		<div class="row m-t-2">
	    			<div class="col-md-6 text-left">

	    			</div>
	    			<div class="col-md-6 text-right">
	            		<div class="porcess-checkout">
							<span ng-show="!canUpdate()">Completa e verifica tutti i campi prima di procedere</span>
	                        <a href="" ng-click="aggiornaUtente()" ng-show="canUpdate()">Salva</a>

	                    </div>	    				
	    			</div>
	    		</div>	

	    	</div>
	    </div>
	</section>

</div>