<div class="col-md-4">
    <div class="single_trend">
        <div class="single_trend_item">
            <div class="single_trend_img">
                <a href="/{{url}}">
                    <img class="primary_image" src="{{cloudinary immagine 'w_300,h_300,f_auto,q_auto,c_fill,g_auto' }}" alt="{{nome}}">
                </a>
            </div>
            <div class="single_trend_label text-center">    
                <a href="/{{url}}"><h3>{{nome}}</h3></a>
                <h4>{{euro prezzo}}</h4>
            </div>
        </div>
    </div>                				
</div>
<!--/prodotto-->