{{#categorie}}
	<section class="digital_area_twenty">
		<div class="container">
		    <div class="row m-t-2">
		        <div class="col-sm-3 col-xs-12">
		            <div class="title-twenty">
		                <h3>{{titolo}}</h3>
		            </div>
		        </div>
		        <div class="col-sm-9 col-xs-12">
		        	{{#if figlie}}
		            <div class="digital_owl_tab">
		                <div class="featured_area new_arrival">
		                    <div class="featured_menu_eleven text-right">
		                        <ul  role="tablist">
		                        	{{#figlie}}
		                            <li role="presentation" class="{{#is @index 0}}active{{/is}}"><a href="#cat-{{_id}}" data-toggle="tab">{{nome}}</a></li>
		                            {{/figlie}}
		                        </ul>
		                    </div>
		                </div>      
		            </div>
		            {{/if}}
		        </div>
		    </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="slider-wrap">
                        <div class="bend niceties preview-2">
                            <div class="slides">                             	
								<img class="primary_image" src="{{cloudinary immagine 'w_1170,h_400,f_auto,q_auto,c_fill,g_auto' }}" alt="{{nome}}">
                            </div>
                        </div>
                    </div>
                    <!-- slider end -->
                </div>
            </div>	
            <div class="row">
                <div class="tab-content">
                	{{#figlie}}
                	<div role="tabpanel" class="tab-pane{{#is @index 0}} active{{/is}}" id="cat-{{_id}}">
                		<div class="tab-carousel-twenty">

                			{{#prodotti}}
								{{>frontend/categorie-evidenza-prodotto}}
                			{{/prodotti}}	                			
        		
                		</div>
                	</div>
                	{{/figlie}}
                	<!--/tabpanel-->
                </div>
            </div>           		
		</div>
	</section>
{{/categorie}}







       