<div class="col-md-3 col-sm-4 col-xs-6">
    <div class="single_trend">
        <div class="single_trend_item">
            <div class="single_trend_img">
                <a href="/{{url}}">
                    <img class="primary_image" src="{{cloudinary immagine 'w_340,h_340,f_auto,q_auto,c_pad' }}" alt="{{nome}}">
                </a>
            </div>
            <div class="single_trend_label text-center">    
                <a href="/{{url}}">
                    <div style="color: #666; text-tranform: uppercase;margin-bottom:5px;margin-top:10px;">{{codice}}</div>
                    <h3 style="margin:0;padding:0;">{{nome}}</h3>
                </a>
                <h4>{{euro prezzo}}</h4>
            </div>
        </div>
    </div>
</div>    