<!-- footer start -->

<footer class="footer_area">
    <div class="footer_middle_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="footer_widget">
                        <div class="logo m-b-2">
                            <a href="index.html"><img src="/frontend/img/logo/eurovetrina_logo_white.svg" alt="{{ slogan }}"></a>
                        </div>      
                        <div class="single_contact">
                            <a href="#"><i class="fa fa-map-marker"></i></a>
                            <p>via Cascina Crivella, 18<br>
                            20055 Vimodrone (MI) </p>
                        </div> 
                        <div class="single_contact">
                            <a href="#"><i class="fa fa-phone"></i></a>
                            <p>02 2670 0995 </p>

                            <a href="#"><i class="fa fa-fax"></i></a>
                            <p>02 2730 1627 </p>
                        </div>       
                        <div class="single_contact">
                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                            <a href="#"><p class="email">eurovetrina@tiscali.it</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                    <div class="row boder_left">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widget">
                                <h4>Informazioni</h4>
                                <ul class="footer_menu">
                                    <li><a href="{{#is lang 'it'}}/chi-siamo{{else}}/en/about-us{{/is}}" rel="nofollow">{{ i18n 'chisiamo' }}</a></li>  
                                    <li><a href="{{#is lang 'it'}}/dovesiamo{{else}}/en/where-find-us{{/is}}" rel="nofollow">{{ i18n 'dovesiamo' }}</a></li>  
                                    <li><a href="{{#is lang 'it'}}/contatti{{else}}/en/contacts{{/is}}" rel="nofollow">{{ i18n 'contatti' }}</a></li>  
                                    <li><a href="{{#is lang 'it'}}/condizioni-di-vendita{{else}}/en/terms-and-conditions-sale{{/is}}" rel="nofollow">{{ i18n 'condizioni' }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widget">
                                <h4>&nbsp;</h4>
                                <ul class="footer_menu">
                                    {{#is lang 'it'}}
                                        <li><a rel="nofollow" href="https://www.iubenda.com/privacy-policy/498002" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>  
                                        <li><a rel="nofollow" href="https://www.iubenda.com/privacy-policy/498002/cookie-policy" class="iubenda-nostyle no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li> 
                                    {{else}}
                                        <li><a rel="nofollow" href="https://www.iubenda.com/privacy-policy/11697245" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li>  
                                        <li><a rel="nofollow" href="https://www.iubenda.com/privacy-policy/11697245/cookie-policy" class="iubenda-nostyle no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script></li> 
                                    {{/is}}	

                                    <li><a href="{{#is lang 'it'}}/legal{{else}}/en/legal{{/is}}">Legal</a></li>    
                                    <li><a href="{{#is lang 'it'}}/mappa{{else}}/en/mappa{{/is}}">Sitemap</a></li>    
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="footer_widget">
                                <h4>E-catalogue</h4>
                                <ul class="footer_menu">
                                    <li><a href="{{#is lang 'it'}}/ecatalogue{{else}}/en/ecatalogue{{/is}}" rel="nofollow">E-catalogue</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row boder_top">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <p class="color-white small">
                            © Eurovetrina di Paolo Giudici - tutti i diritti riservati <br>
                            P.IVA 00247610967 - C.F. GDCPLA45P14B156M <br>
                            Powered by <a href="http://www.plurimedia.it/?utm_source=credits&utm_medium=sito&utm_campaign=eurovetrina" target="_blank" rel="nofollow noopener">Plurimedia</a></p>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="payment_fifteen">
                                {{#is lang 'it'}}
                                    <img src="/frontend/img/payment/payment1.png" alt="">
                                {{/is}}
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->