
<meta charset="utf-8" />
<title>{{ title }} | {{ slogan }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Security-Policy" content="
default-src *;
style-src-elem 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://fonts.googleapis.com;
style-src 'self' 'unsafe-inline' downloads.mailchimp.com https://cdnjs.cloudflare.com https://fonts.googleapis.com;
script-src-elem 'self' https://cs.iubenda.com https://www.google-analytics.com https://www.googletagmanager.com https://www.iubenda.com https://cdn.auth0.com https://cdnjs.cloudflare.com https://chimpstatic.com https://cdn.iubenda.com
                'unsafe-inline' https://cs.iubenda.com https://www.google-analytics.com https://www.googletagmanager.com https://www.iubenda.com https://cdn.auth0.com https://cdnjs.cloudflare.com https://chimpstatic.com https://cdn.iubenda.com
                'unsafe-eval' https://cs.iubenda.com https://cdn.iubenda.com https://*.list-manage.com https://downloads.mailchimp.com https://chimpstatic.com;
script-src 'self' https://www.google-analytics.com https://www.googletagmanager.com https://www.iubenda.com https://cdn.auth0.com https://cdnjs.cloudflare.com https://chimpstatic.com https://cdn.iubenda.com
           'unsafe-inline' https://www.google-analytics.com https://www.googletagmanager.com  https://www.iubenda.com https://cdn.auth0.com https://cdnjs.cloudflare.com https://chimpstatic.com https://cdn.iubenda.com
           'unsafe-eval' https://cdn.iubenda.com https://*.list-manage.com https://downloads.mailchimp.com https://chimpstatic.com;
font-src 'self' https://fonts.gstatic.com;
img-src 'self' data: https://res.cloudinary.com;
" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ description }}" />

{{#isnt url '/'}}
{{#each langs }}
{{#isnt ../lang @key}}
<link rel="alternate" hreflang="{{@key}}" href="{{../baseUrl}}{{this}}" />
{{/isnt}}
{{/each}}
{{/isnt}}
<!--favicons-->
<link rel="apple-touch-icon" sizes="180x180" href="/frontend/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/frontend/img/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/frontend/img/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/frontend/img/favicons/manifest.json">
<link rel="mask-icon" href="/frontend/img/favicons/safari-pinned-tab.svg" color="#21409a">
<meta name="theme-color" content="#ffffff">
<!--/favicons-->


<!-- Fonts CSS
============================================ -->  
<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>  

<!-- Bootstrap CSS
============================================ -->      
<link rel="stylesheet" href="/frontend/css/bootstrap.min.css">

<!-- Nivo slider CSS
============================================ -->
<link rel="stylesheet" type="text/css" href="/frontend/lib/custom-slider/css/nivo-slider.css" media="screen" />   
<link rel="stylesheet" type="text/css" href="/frontend/lib/custom-slider/css/preview.css" media="screen" />   

<!-- owl.carousel CSS
============================================ -->      
<link rel="stylesheet" href="/frontend/css/owl.carousel.css">

<!-- owl.theme CSS
============================================ -->      
<link rel="stylesheet" href="/frontend/css/owl.theme.css">
    
<!-- owl.transitions CSS
============================================ -->      
<link rel="stylesheet" href="/frontend/css/owl.transitions.css">
 
<!--lightbox CSS-->
<link href="/frontend/css/lightbox.css" rel="stylesheet">

<!--Jquery Ui CSS-->
<link href="/frontend/css/jquery-ui.css" rel="stylesheet">

<!--Simple Icon CSS-->
<link href="/frontend/css/simple-line-icons.css" rel="stylesheet">
        
<!-- bar filler CSS
============================================ -->      
<link rel="stylesheet" href="/frontend/css/barfiller.css">
        
<!-- Meanmenu CSS
============================================ -->          
<link rel="stylesheet" href="/frontend/css/meanmenu.min.css">

<!-- font-awesome.min CSS
============================================ -->      
<link rel="stylesheet" href="/frontend/css/font-awesome.min.css">

<!-- animate CSS
============================================ -->         
<link rel="stylesheet" href="/frontend/css/animate.css">

<!-- notify
============================================ -->         
<link rel="stylesheet" href="/ng-notify/dist/ng-notify.min.css">

<!-- normalize CSS
============================================ -->        
<link rel="stylesheet" href="/frontend/css/normalize.css">

<!-- main CSS
============================================ -->          
<link rel="stylesheet" href="/frontend/css/main.css">

<!-- style CSS
============================================ -->          
<link rel="stylesheet" href="/frontend/css/style.css">

<!-- responsive CSS
============================================ -->          
<link rel="stylesheet" href="/frontend/css/responsive.css">

<script src="/frontend/js/vendor/modernizr-2.8.3.min.js"></script>

<!-- link per collegare le funzionalità ecommerce di mailchimp -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a72bc369abef19ad0e38143e9/ec2c9b1d07a8581920c523ba1.js");</script>

<!-- consent mode attivo -->
    <script>
      // Initialize the data layer for Google Tag Manager (this should mandatorily be done before the Cookie Solution is loaded)
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      // Default consent mode is "denied" for both ads and analytics, but delay for 2 seconds until the Cookie Solution is loaded
      gtag("consent", "default", {
          ad_storage: "denied",
          analytics_storage: "denied",
          wait_for_update: 2000 // milliseconds
      });
      // Improve ad click measurement quality (optional)
      gtag('set', 'url_passthrough', true);
      // Further redact your ads data (optional)
      gtag("set", "ads_data_redaction", true);
    </script>
    
<!-- Global site tag (gtag.js) - Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6JV4MRQPN6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6JV4MRQPN6');
</script>

<!-- iubenda cookie banner -->

{{#is lang 'it'}}
    <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"siteId":267174,"cookiePolicyId":498002,"lang":"it"};
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/267174.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
{{else}}
    <script type="text/javascript">
    var _iub = _iub || [];
    _iub.csConfiguration = {"siteId":267174,"cookiePolicyId":11697245,"lang":"en"};
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/267174.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>                
{{/is}}


