<!-- header start (test 2)-->
<header class="header">
    {{#is lang 'it'}}
    <div class="alert alert-warning" style="margin: 0;">
        <div class="container text-center">
           
           {{!-- Ordine minimo € 100.  --}}
           Costo imballo e trasporto € 12.
        </div>
    </div>
    {{/is}}  
    <div class="header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 hidden-xs">
                    <div class="header_top_left">
                        <ul>
                            {{#each langs }}
                            <li class="country{{#if this}}{{else}} disabled{{/if}}">
                                <a href="/cambialingua?lang={{@key}}&url={{this}}">
                                    <img src="/frontend/img/flag/{{@key}}.png">{{@key}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 hidden-xs">
                    <div class="header_top_right text-right">
                        {{#is lang 'it'}}
                        <ul>
                            {{#if session.passport.user }}
                            <li><a href="/user">{{session.passport.user.user_metadata.nome}} {{session.passport.user.user_metadata.cognome}}</a> </li>
                            {{#inArray session.passport.user.app_metadata.roles "redattore"}}
                            <li><a href="/admin/dashboard">Backend</a></li>
                            {{/inArray}}                            
                            <li><a href="/api/auth/logout">Esci</a> </li>
                            {{else}}
                            <!--li><a href="/login">Accedi</a></li-->
                            <li><a href="/api/auth/login" id="loginButton">Accedi</a></li>
                            
                            {{/if}}
                        </ul>
                        {{/is}}
                    </div>
                </div>    
            </div>
            <div class="row visibile-sm visible-xs">
                <div class="col-xs-8">
                    <div class="header_mobile">
                        {{#is lang 'it'}}
                        <ul>
                            {{#if session.passport.user }}
                            <li><a href="/user">{{session.passport.user.user_metadata.nome}} {{session.passport.user.user_metadata.cognome}}</a> </li>
                            {{#inArray session.passport.user.app_metadata.roles "redattore"}}
                            <li><a href="/admin/dashboard">Backend</a></li>
                            {{/inArray}}                            
                            <li><a href="/api/auth/logout">Esci</a> </li>
                            {{else}}
                            <li><a href="/api/auth/login">Accedi</a></li>
                            {{/if}}
                        </ul>
                        {{/is}}
                    </div>
                </div>
                <div class="col-xs-4">
                    {{#is lang 'it'}}
                    <div class="cart-total">
                        <ul>
                            <li>
                               <div class="shopping-cart" ng-if="cart.$resolved">
                                    <a class="cart" href="carrello" title="Vai al carrello">
                                        <span class="cart-title" ng-bind="cart.count > 0 ? cart.count : 'carrello' "></span>
                                    </a>
                               </div>
                            </li>
                        </ul>
                    </div>
                    {{/is}}
                </div>
            </div>
        </div>
    </div>
    <div id="#">
        <div class="container">
            <div class="row header_center">
                <div class="col-sm-3 col-xs-12">
                    <div class="logo">
                        <a href="/"><img src="/frontend/img/logo/eurovetrina_logo.svg" alt="{{ slogan }}"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5 col-xs-12">
                    <div class="search-form">
                        <form action="/cerca" method="GET" id="search-form" enctype='text/plain'>
                            <input type="search" name="chiave" placeholder="{{i18n 'cercaplaceholder'}}">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>                                
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
                    {{#is lang 'it'}}
                    <div class="search_cart_sub_menu text-right">
                        <ul>
                            <li class="header_cart">
                                <div class="cart-total">
                                    <ul>
                                        <li>
                                           <div class="shopping-cart" ng-if="cart.$resolved">
                                                <a class="cart" href="carrello" title="Vai al carrello">
                                                    <span class="cart-title" ng-bind="cart.count > 0 ? cart.count : 'carrello' "></span>
                                                </a>
                                           </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>   
                        </ul>
                    </div>
                    {{/is}}
                </div>   
            </div>
        </div>
    </div>    
</header>
<!-- header end -->