        <!--Mainmenu Area Start-->
        <div class="mainmenu_area clearfix">
            <div class="container">                 
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-bottom: 3em;">
                    <h3>LAVORAZIONE PLEXIGLASS SU MISURA</h3>
                    </div>
                </div>
            </div>
            <div id="sticker"> 
                <div class="container">                   
                    <div class="row"> 
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <div class="category_twenty">
                                <ul>
                                    <li class="cat_tl"><a href="{{#is lang 'it'}}/categorie{{else}}/en/categories{{/is}}">{{ i18n 'prodotti' }}<i class="fa fa-list"></i></a></li>
                                </ul>
                            </div>
                        </div>  
                        <div class="col-sm-9">
                            <div class="mainmenu nav navbar-collapse collapse navbar-left">
                                <nav>
                                    <ul class="navbar-nav" id="nav">
                                        <li><a href="{{#is lang 'it'}}/chi-siamo{{else}}/en/about-us{{/is}}">{{ i18n 'chisiamo' }}</a></li>  
                                        <li><a href="{{#is lang 'it'}}/dovesiamo{{else}}/en/where-find-us{{/is}}">{{ i18n 'dovesiamo' }}</a></li>  
                                        <li><a href="{{#is lang 'it'}}/contatti{{else}}/en/contacts{{/is}}">{{ i18n 'contatti' }}</a></li>  
                                        <li><a href="{{#is lang 'it'}}/condizioni-di-vendita{{else}}/en/terms-and-conditions-sale{{/is}}">{{ i18n 'condizioni' }}</a></li>
                                        <li><a href="{{#is lang 'it'}}/ecatalogue{{else}}/en/ecatalogue{{/is}}" rel="nofollow">E-catalogue</a></li>
                                    </ul>
                                </nav> 
                           </div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- Mobile Menu Area start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li class="cat_tl"><a href="{{#is lang 'it'}}/categorie{{else}}/en/categories{{/is}}">{{ i18n 'prodotti' }}</a></li>
                                        <li><a href="{{#is lang 'it'}}/chi-siamo{{else}}/en/about-us{{/is}}">{{ i18n 'chisiamo' }}</a></li>  
                                        <li><a href="{{#is lang 'it'}}/dovesiamo{{else}}/en/where-find-us{{/is}}">{{ i18n 'dovesiamo' }}</a></li>  
                                        <li><a href="{{#is lang 'it'}}/contatti{{else}}/en/contacts{{/is}}">{{ i18n 'contatti' }}</a></li>  
                                        <li><a href="{{#is lang 'it'}}/condizioni-di-vendita{{else}}/en/terms-and-conditions-sale{{/is}}">{{ i18n 'condizioni' }}</a></li>
                                        <li><a href="{{#is lang 'it'}}/ecatalogue{{else}}/en/ecatalogue{{/is}}" rel="nofollow">E-catalogue</a></li>
                                        {{#each langs }}
                                            <li class="hidden-lg hidden-md hidden-sm country{{#if this}}{{else}} disabled{{/if}}">
                                                <a href="/{{@key}}?url={{this}}">
                                                    <img src="/frontend/img/flag/{{@key}}.png">{{@key}}
                                                </a>
                                            </li>
                                        {{/each}}                                        
                                    </ul>
                                </nav>
                            </div>					
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area end -->          
        </div>
        <!--End of Mainmenu Area-->