{{!--   
<!DOCTYPE html>
<html>
 --}}
{{!-- <head> --}}
<script src="https://cdn.auth0.com/js/auth0/9.0.0/auth0.min.js"></script>
<script type="text/javascript">
  var auth0Client = new auth0.WebAuth({
    redirectUri: 'https://eurovetrina-ecommerce-test.herokuapp.com/user',
    clientID: 'u04viEQz2xqLW0Q81EE4n4Jvlxf1WKoc',
    domain: 'plurimedia.eu.auth0.com'
  });
  auth0Client.crossOriginVerification();
</script>
{{!-- </head> --}}

{{!-- <body></body>

</html> --}}