

<!-- jquery-1.11.3.min js
============================================ -->         
<script src="/frontend/js/vendor/jquery-1.11.3.min.js"></script>

	<!-- bootstrap js
============================================ -->         
<script src="/frontend/js/bootstrap.min.js"></script>

	<!-- owl.carousel.min js
============================================ -->       
<script src="/frontend/js/owl.carousel.min.js"></script>

	<!-- lightbox js
============================================ -->       
<script src="/frontend/js/lightbox.js"></script>
  
<!-- mixitup js
============================================ -->       
<script src="/frontend/js/jquery.mixitup.js"></script>

<!-- bar filler js
============================================ -->       
<script src="/frontend/js/jquery.barfiller.js"></script>

<!-- Scroll Up js
============================================ -->         
<script src="/frontend/js/jquery.scrollUp.min.js"></script>        

<!-- Elevate Zoom js
============================================ -->         
<script src="/frontend/js/jquery.elevatezoom.js"></script>    

<!-- Meanmenu js
============================================ -->         
<script src="/frontend/js/meanmenu.js"></script>  
   
<!-- wow js
============================================ -->       
<script src="/frontend/js/wow.js"></script> 
<script>
    new WOW().init();
</script>

<!-- plugins js
============================================ -->         
<script src="/frontend/js/plugins.js"></script>   		

<!-- Nevo Slider js
============================================ -->         
<script type="text/javascript" src="/frontend/lib/custom-slider/js/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/frontend/lib/custom-slider/home.js"></script>   

<!-- main js
============================================ -->           
<script src="/frontend/js/main.js"></script>

<script src="/lodash/lodash.min.js"></script>
<script src="/numeral/min/numeral.min.js"></script>
<script src="/numeral/min/locales/it.min.js"></script>
<script src="/angular/angular.min.js"></script>
<script src="/angular-resource/angular-resource.min.js"></script>
<script src="/angular-cookies/angular-cookies.min.js"></script>
<script src="/ng-notify/dist/ng-notify.min.js"></script>
<script src="/frontend/js/angular/index.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
