<!--<div class="container" style="margin-top: 40px;">
    <div class="alert alert-warning">
        <p class="lead">
            Produciamo <strong><a href="/barriera-protettiva-in-plex"><u>barriere protettive in Plexiglass e parafiati</u></a></strong> per Uffici, Reception, Farmacie e Negozi per tenere clienti e dipendenti alle dovute distanze. 
            <a href="/contatti"><strong><u>Contattaci</u></strong></a> per maggiori informazioni e preventivi per prodotti su misura.
        </p>
    </div>
    <div class="card" style="border: 1px solid #ccc; padding: 10px;">
        <p class="text-center">Ecco alcuni esempi. Guarda la categoria <a href="/barriera-protettiva-in-plex"><strong><u>barriere protettive in Plex</u></strong></a> per maggiori info</p>
        <a href="/barriera-protettiva-in-plex">
            <div class="row">
                <div class="col-md-3">
                    <img src="https://res.cloudinary.com/plurimedia/image/upload/w_340,h_340,f_auto,q_auto,c_pad/eurovetrina_ecommerce_prod/IMG_0012_o3qgpi" alt="Barriere protettive in plexiglass o parafiato" title="Barriere protettive in plexiglass o parafia">
                </div>
                <div class="col-md-3">
                    <img src="https://res.cloudinary.com/plurimedia/image/upload/w_340,h_340,f_auto,q_auto,c_pad/eurovetrina_ecommerce_prod/IMG_0013_ht9jai" alt="Barriere protettive in plexiglass o parafia" title="Barriere protettive in plexiglass o parafia">
                </div>
                <div class="col-md-3">
                    <img src="https://res.cloudinary.com/plurimedia/image/upload/w_340,h_340,f_auto,q_auto,c_pad/eurovetrina_ecommerce_prod/IMG_0016_xfqhf7" alt="Barriere protettive in plexiglass o parafia" title="Barriere protettive in plexiglass o parafia">
                </div>
                <div class="col-md-3">
                    <img src="https://res.cloudinary.com/plurimedia/image/upload/w_340,h_340,f_auto,q_auto,c_pad/eurovetrina_ecommerce_prod/IMG_lglf5m" alt="Barriere protettive in plexiglass o parafia" title="Barriere protettive in plexiglass o parafia">
                </div>
            </div>
        </a>
    </div>
</div>-->

<!-- service start -->
<div class="service_twenty">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="single_service_twenty">
                    <div class="singer_service_twenty_text">

                    {{#is lang 'it'}}
                        <h2>Made in Italy</h2>
                        <p>Esperienza trentennale nella produzione di espositori per vetrine e negozi</p>
                    {{else}}
                        <h2>Made in Italy</h2>
                        <p>Thirty years of experience in the market</p>                    
                    {{/is}}

                    </div>
                </div>
            </div>        
            <div class="col-sm-4 col-xs-12"> 
                <div class="single_service_twenty two">   
                    <div class="singer_service_twenty_text">
                    
                    {{#is lang 'it'}}
                        <h2>Spedizioni veloci in 48/72 ore</h2>
                        {{!-- <p>Ordine minimo € 100</p> --}}
                    {{else}}
                        <h2>Fast and secure deliveries</h2>
                        <p>Shipping time within 48/72 hours</p>                    
                    {{/is}}

                    </div>
                </div>    
            </div>    
            <div class="col-sm-4 col-xs-12"> 
                <div class="single_service_twenty three">   
                    <div class="singer_service_twenty_text">
                    {{#is lang 'it'}}
                        <h2>Oltre 1500 prodotti</h2>
                        <p>Vasto assortimento di espositori, in diversi materiali, forme e colori</p>
                    {{else}}
                        <h2>More then 1500 products</h2>
                        <p>We can answer to every exposition and presentation need for shops and shop windows.</p>                    
                    {{/is}}
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>    
<!-- service end -->