<!-- slider start -->
<div class="slider-wrap hidden-xs hidden-sm">
    <div class="bend niceties preview-2">
        <div id="nivoslider" class="slides" style="display:none;"> 
             <img src="/frontend/img/slider-home/1.jpg" alt="" title="#slider-direction-1"  />
             <img src="/frontend/img/slider-home/2.jpg" alt="" title="#slider-direction-2"  />
             <img src="/frontend/img/slider-home/3.jpg" alt="" title="#slider-direction-3"  />
             <img src="/frontend/img/slider-home/4.jpg" alt="" title="#slider-direction-4"  />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="nivo-text-layer">
                <div class="slider-content slider-text-1">
                    <div class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="0.3s">
                        {{#is lang 'it'}}
                            <h3>L'aspetto delle cose</h3>
                            <!--h2>🎅🏼🎄🎁 <br>Promozione natalizia fino al 31/12: <br /><strong>sconto del 20%</strong> </h2-->
                        {{else}}
                            <h3>The way things look changes</h3>
                        {{/is}}   
                    </div>
                </div>
                <div class="slider-content slider-text-2">
                    <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="2s">
                        {{#is lang 'it'}}
                            <h2 class="text-center">varia secondo le emozioni</h2>
                            <!--h2 class="text-center">e <strong>spedizione omaggio</strong> <br>
                            per tutti gli <strong>ORDINI ONLINE!</strong>
                            </h2-->
                        {{else}}
                            <h2>according to our emotions</h2>
                        {{/is}}
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 2 -->
        <div id="slider-direction-2" class="t-cn slider-direction">
            <div class="nivo-text-layer">
                <div class="slider-content slider-text-1">
                    <div class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="0.3s">
                        {{#is lang 'it'}}
                            <h3>Qualunque cosa tu possa fare, <br>
                            qualunque sogno tu possa sognare,</h3>
                            <!--h2>🎅🏼🎄🎁 <br>Promozione natalizia fino al 31/12: <br /><strong>sconto del 20%</strong> </h2-->
                        {{else}}
                            <h3>Whatever you may do, <br>
                             whatever you may dream,</h3>
                        {{/is}} 
                    </div>
                </div>
                <div class="slider-content slider-text-2">
                    <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="2s">
                        {{#is lang 'it'}}
                            <h2 class="text-center">comincia!</h2>
                            <!--h2 class="text-center">e <strong>spedizione omaggio</strong> <br>
                            per tutti gli <strong>ORDINI ONLINE!</strong>
                            </h2-->
                        {{else}}
                            <h2>start!</h2>
                        {{/is}} 
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 3 -->
        <div id="slider-direction-3" class="t-cn slider-direction">
            <div class="nivo-text-layer">
                <div class="slider-content slider-text-1">
                    <div class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="0.3s">
                        {{#is lang 'it'}}
                            <h3>La bellezza deve essere giudicata</h3>
                            <!--h2>🎅🏼🎄🎁 <br> Promozione natalizia fino al 31/12: <br /><strong>sconto del 20%</strong> </h2-->
                        {{else}}
                            <h3>Beauty should be judged </h3>
                        {{/is}} 
                    </div>
                </div>
                <div class="slider-content slider-text-2">
                    <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="2s">
                        {{#is lang 'it'}}
                            <h2 class="text-center">per l'effetto che produce</h2>
                            <!--h2 class="text-center">e <strong>spedizione omaggio</strong> <br>
                            per tutti gli <strong>ORDINI ONLINE!</strong>
                            </h2-->
                        {{else}}
                            <h2>by the effect it produces</h2>
                        {{/is}} 
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 4 -->
        <div id="slider-direction-4" class="t-cn slider-direction">
            <div class="nivo-text-layer">
                <div class="slider-content slider-text-1">
                    <div class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="0.3s">
                        {{#is lang 'it'}}
                           <!--h2>🎅🏼🎄🎁 <br> Promozione natalizia fino al 31/12: <br /><strong>sconto del 20%</strong> </h2-->
                           <h3>Si conosce sempre il prezzo <br>di quello che si compra,</h3>
                        {{else}}
                            <h3>We always know the price of things,</h3>
                        {{/is}} 
                    </div>
                    </div>
                </div>
                <div class="slider-content slider-text-2">
                    <div class="wow bounceInLeft" data-wow-duration="3s" data-wow-delay="2s">
                        {{#is lang 'it'}}
                            <!--h2 class="text-center">e <strong>spedizione omaggio</strong> <br>
                            per tutti gli <strong>ORDINI ONLINE!</strong>
                            </h2-->
                            <h2 class="text-center">ma raramente <br> se ne apprezza il valore</h2>
                        {{else}}
                            <h2>but rarely we really appreciate its value</h2>
                        {{/is}} 
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 