<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="/admin/dashboard">
                        <img alt="image" src="/backend/img/logo/logo-navbar.png" class="img-responsive">
                    </a>
                </div>
                <div class="logo-element">
                    EV
                </div>
            </li>
            <li{{#is url '/dashboard'}} class="active"{{/is}}>
                <a href="/admin/dashboard">
                    <i class="fa fa-th-large"></i> 
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li{{#contains url '/cat'}} class="active"{{/contains}}>
                <a href="/admin/categorie">
                    <i class="fa fa-tag"></i> 
                    <span class="nav-label">Categorie</span>                    
                </a>
            </li>
            <li{{#contains url '/prod'}} class="active"{{/contains}}>
                <a href="/admin/prodotti">
                    <i class="fa fa-archive"></i> 
                    <span class="nav-label">Prodotti</span>                    
                </a>
            </li>
            <li{{#contains url '/ordin'}} class="active"{{/contains}}>
                <a href="/admin/ordini">
                    <i class="fa fa-money"></i> 
                    <span class="nav-label">Ordini</span>                    
                </a>
            </li>
        </ul>
    </div>
</nav>


