
<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li><a href="/" target="_blank" rel="noopener"><i class="fa fa-eye"></i> Guarda il sito</a></li>
        <li><a href="/user">{{session.passport.user.user_metadata.nome}} {{session.passport.user.user_metadata.cognome}}</a></li>
        <li>
            <a href="/api/auth/logout">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul>

</nav>
